[2011-06-27 12:14] bheijns opened #2 "Draw QR in Internet Explorer (IE7)"
Hi there,

Did anybody get this script working in Internet Explorer 7?

I did find the Google Excanvas javascript to make it possible showing/generating Canvas elements in Internet Explorer. For much QR drawing programs it works but not for this one; or does anybody else have the solution for me?

Thank you in advance,

Bas

[2011-06-30 09:13] bheijns opened #3 "Multiple QR Codes on one page"
Hey,

Can somebody help me placing multiple (different) QR Codes on just one page. It doesn't seems to work here.

Thank you in advance,

Bas

[2011-07-17 21:27] tixelated opened #4 "Adjustable QR code image size"
Hi - would love to help make QR code image sizes configurable at run time, any pointers?

[2011-07-17 21:28] ghost opened #5 "Adjust QR code error correction level"
Same - would love to be able to adjust qr code error correction level

[2011-07-20 15:44] #5 closed, assigned to soldair

[2012-01-26 14:22] mlegenhausen opened #7 "Howto draw a 2d barcode?"
Please add some documentation or an example for doing that.

[2012-01-26 15:17] #7 closed, assigned to nobody

[2012-06-24 05:32] #3 closed, assigned to nobody

[2012-06-24 05:32] #2 closed, assigned to nobody

[2012-10-14 11:28] maxp opened #10 "Incorrect parameter handling in qrcode-draw.js"
https://github.com/soldair/node-qrcode/blob/master/lib/qrcode-draw.js

Code starting from line 44:

[code]

'options' used instead of 'text'.

[2012-10-14 20:57] #10 closed, assigned to nobody

[2012-10-22 09:38] dazoe opened #11 "options ignored"
looks like the the functions QRCode.save, drawBitArray, and drawText still ignore options passed to them.

[2012-12-16 20:02] cmunozgar opened #12 "Not saving file"
Hi,

I'm trying to save a QR Code into a './tmp/example.png' file but I'm not getting either the file or an error message.

[code]

What am I doing wrong?

Thanks!

[2012-12-30 02:30] #12 closed, assigned to nobody

[2013-02-17 21:50] andrescabana86 opened #14 "Uint32Array error on android devices"
when i load on client side the script /assets/qrcode.js on line 651 i have this console error

Uncaught ReferenceError: Uint32Array is not defined

can you explain me whats the problem what im doing wrong?

[2013-08-27 02:35] youxiachai opened #18 "how to create utf8 charset qrcode ?"
I user
qrcode 你好 test.png

There are some utf8 charset in it, but cann't read the text.

have any way support utf8 charset ?

[2013-08-28 03:20] #18 closed, assigned to nobody

[2013-08-28 03:33] youxiachai opened #19 "build utf8 charset qrcode too short size"
http://en.wikipedia.org/wiki/QR_code

qr_code support 2k size

but i use it

qrcode 你好啊 text.png.

Error: code length overflow. (84>72)
    at Function.QRCode.createData (C:\Users\Administrator\AppData\Roaming\npm\no
de_modules\qrcode\lib\qrcode.js:325:9)
    at Object.QRCode.makeImpl (C:\Users\Administrator\AppData\Roaming\npm\node_m
odules\qrcode\lib\qrcode.js:101:28)
    at Object.QRCode.getBes

[2013-09-25 00:36] #19 closed, assigned to nobody

[2013-09-29 01:57] #11 closed, assigned to nobody

[2013-10-11 18:48] maximelefort opened #21 "fs.write bad argument on Heroku"
node-qrcode works perfecly on my MAC but when I deploy my app on heroku I've got an error :

[code]

[2013-10-23 07:55] peterbarretto opened #22 "process.dlopen(filename, module.exports);"
module.js:485
  process.dlopen(filename, module.exports);
          ^
Error: The specified module could not be found.

How do i fix this??

[2013-10-23 21:21] #21 closed, assigned to nobody

[2013-10-31 13:55] giacecco opened #23 "QRCode.draw fails with data smaller than the supported capacity"
Hi All,
I have read soldair's docs [here](https://github.com/soldair/node-qrcode/blob/master/README.md) specifying that the QR codes generated by this library are 'level H' whose max capacity is 1,273 characters.

The library though fails occasionally when trying to encode smaller strings and returns Canvas objects that render to empty png files. Experimentally, I managed to make this happen with

[2013-12-10 03:02] wang-ling opened #24 "install qrcode error"
when i sudo npm install -g qrcode, it gives errors,

./util/has_cairo_freetype.sh: line 4: pkg-config: command not found

how can i solution it, thank you for your help!

[2013-12-10 07:28] #24 closed, assigned to nobody

[2014-04-24 04:18] #23 closed, assigned to nobody

[2014-04-24 14:52] 4lejandrito opened #27 "Logos into generated QR codes"
Hi,

Is there any plans of including support for embedding logos into the QR codes generated by the library? I'm talking about something like this:

[code]

Cheers

[2014-05-05 23:16] #27 closed, assigned to nobody

[2014-08-11 04:38] i-tengfei opened #28 "Does not want to compile on arch?"
https://github.com/Automattic/node-canvas/issues/449
https://github.com/Automattic/node-canvas/pull/447

[2014-09-14 01:10] wemakeweb opened #29 "fs.open errors are not handeld"
https://github.com/soldair/node-qrcode/blob/master/qrcode.js#L152-L153

Should be:

[code]

is:

[code]

[2014-09-20 04:56] #29 closed, assigned to nobody

[2014-10-13 14:46] #28 closed, assigned to nobody

[2015-03-20 16:53] WickyNilliams opened #33 "QR output to terminal can't be read by reader"
Should I be expecting better (read, higher fidelity) output than this? QR code reader isn't able to read the output:

![screen shot 2015-03-20 at 16 50 25](https://cloud.githubusercontent.com/assets/1091390/6756398/83d0f7dc-cf21-11e4-8fa1-891fdc65dfbc.png)

I can't tell if it's something related to my bash setup, or is this as expected?

[2015-03-22 21:45] soldair commented on #33
it depends on your terminal configuration sadly. i had success in xfce term today with "hi" starting with my phone close and moving back until the scan was successful.

![screenshot - 03222015 - 02 41 56 pm](https://cloud.githubusercontent.com/assets/119903/6771651/9c993f8c-d0a1-11e4-9b8b-5bf55677e650.png)

there must be modules on npm now that are better at drawing in the terminal than trying to

[2015-06-14 16:34] yagop opened #36 "errorCorrectLevel medium as max"
I've been testing and it seems that generating QR with `medium` as `errorCorrectLevel` option results in `H` error correction level in state of `M`.

[code]

![qr](https://cloud.githubusercontent.com/assets/5002453/8149394/e183655c-12c1-11e5-8d13-7e0e82d5dfbf.png)

[2015-08-02 22:31] aikeru opened #38 "No license in repository"
Hey, I know that the original JavaScript was licensed MIT, but I don't see an MIT license in/on/as part of your project.

Maybe just to help people who are really picky, do you think you could put an MIT license on this one too? :)

[2015-08-03 18:56] soldair commented on #38
added. published to npm 0.3.1

[2015-08-03 18:56] #38 closed

[2015-10-19 16:09] fatelei opened #40 "Installation section issue"
When build node-qrcode, it need `libgif-dev`. But the doc doesn't mention it.

Change:

[code]

To:

[code]

[2015-10-19 16:14] soldair commented on #40
geat would you mind opening a pull request? you can just click edit on the readme through the web ui =)

[2015-10-20 01:07] #40 closed

[2015-12-08 01:52] DeoLeung commented on #22
I ran into the same problem using node v4.2.2, same as I installed it globally.

$ npm install -save qrcode
npm http GET https://registry.npmjs.org/qrcode
npm http 304 https://registry.npmjs.org/qrcode
npm http GET https://registry.npmjs.org/colors
npm http GET https://registry.npmjs.org/canvas
npm http GET https://registry.npmjs.org/bops/0.0.6
npm http 304 https://registry.npmjs.org/canvas
npm ht

[2016-01-14 16:02] adius opened #44 "Support svg output"

[2016-01-14 16:27] soldair commented on #44
that would be nice. happy to merge this if someone wants to work on the pull request

[2016-01-25 07:56] dannyto opened #45 "GS1 QR code"
Hi there!

Can we create gs1 qr code.

Thankz.

[2016-01-25 14:47] organismen opened #46 "unable to install without jpeglib-dev on ubuntu"
Thanks for a good package, I followed your instructions:

sudo apt-get install libpixman-1-dev libcairo2-dev libpangocairo-1.0-0 libpango1.0-dev libgif-dev

I didnt got it to work before I realized that I needed to install the libjpeg-dev package.

Maybe I didnt do it right the first time but I maybe this info helps someone else!

[2016-01-25 15:43] soldair commented on #45
I'm not sure.
It seems like qrcode became a "gs1 standard" so i bet that this library can. There are constraints as to the dimensions of the code and other things hinted in the text here:

http://helpdesk.gs1.org/ArticlesBySubject.aspx?GS1%20QR%20Code&id=83706133-2072-e211-ad68-00155d644635

if someone would do a little research it would be welcome.

[2016-01-25 15:44] soldair commented on #46
ok great. its a moving target for a library thats been around for 5 or so years. I'll add it to the readme.

[2016-01-25 15:44] #46 closed

[2016-01-26 02:14] dannyto commented on #45
Thank you, I hope so!
Anyone can help please!

[2016-01-26 14:52] soldair commented on #45
looks like this project implments them and has info on what it means to be a gs1 qrcode
https://github.com/bwipp/postscriptbarcode/wiki/GS1-Application-Identifier-Standard-Format

[2016-01-26 16:17] robotiko commented on #45
@dannyto , @soldair,
GS1 QR codes are standard QR codes that contains text with GS1 formatted data.

The GS1 data is basically a set of GS1 Application Identifiers.
The Application Identifiers (AI) are numeric values defined in the GS1 catalog (http://www.gs1.org/barcodes-epcrfid-id-keys/gs1-general-specifications)   followed by the value for that (AI).
The mandatory value is the (01) Global Trade

[2016-01-26 16:40] soldair commented on #45
wow thanks @robotiko for such a detailed response!
i just wanted to learn a bit and make sure that this library is at least fulfilling the base needs of it's users respecting it's scope.

@dannyto i hope this helps. The answer seems like yes but you have to add the gs1 fields to the data you put in the qrcode.

[2016-01-26 17:04] robotiko commented on #45
@soldair  I hope it helps.

Any QR code will work with GS1 codes and the correctness is in the code info, not the barcode itself that is a mere container.

Deal with GS1 coding requires a lot of GS1 knowledge  about the standards, guides, etc.
Even the basic & required GTIN requires to join GS1 to be a member and get the unique identifier, so go deeper into the standards is a must to be able use t

[2016-01-27 06:12] dannyto commented on #45
Thanks all you guys!
Those info are so useful.

[2016-01-27 13:35] soldair commented on #45
closing but ill link to this issue from the readme about GS1

[2016-01-27 13:35] #45 closed

[2016-02-21 13:52] Subomi commented on #22
This is still an issue yet unsolved?

[2016-02-21 14:45] soldair commented on #22
This is an error folks can get if they have an issue with native modules. This is not really a qrcode issue unless i need to bump the version of canvas. if you are having the problem let me know :)

[2016-02-29 05:33] fanke commented on #45
dear soldair, the "node-qrcode" is greate, but when can you support "i would like to switch to a js only image encoder to remove these deps", what i think will be greater, thank you!

[2016-02-29 05:34] soldair commented on #45
i think so too. feel free to dig around for a god one I'm always accepting pull requests.

[2016-03-31 19:13] sagivo opened #47 "not compiling with the latest node version (5.9.1)"
[code]

[2016-04-01 07:08] throrin19 commented on #47
Have you read this? :

The error is not an qrcode compilation error but a *cairo* compilation error. You are missing a dependency : *xcb-shm*.

After search i found an issue here : https://github.com/Homebrew/homebrew/issues/14123

[2016-04-01 07:08] #47 closed

[2016-04-01 12:33] soldair commented on #47
thanks for the advice @throrin19! happy y'all got this resolved =)

[2016-04-29 18:46] laggingreflex commented on #22
As per [this comment](https://github.com/nodejs/node/issues/2964#issuecomment-152210141) could you guys try running the [dependencywalker](http://dependencywalker.com) on whatever `.node` file that's causing the error, like `node_modules\canvas\build\Release\canvas.node`

I was similarly missing LIBEAY32.DLL in scrypt.node (a different module than node-qrcode altogether)
![](http://i.imgur.com/O0B

[2016-04-29 19:11] soldair commented on #22
very helpful thanks @laggingreflex !

[2016-05-25 13:16] Akiiki commented on #22
I had the same Issue so I did `npm rebuild`   then `sudo npm install -g ethereumjs-testrpc`

[2016-07-06 05:42] skgitter opened #48 "build failed"
I got this npm, decided to use it. But when I install, it gives error

Can anyone please help me out ?

### Error log

![error](https://cloud.githubusercontent.com/assets/8007683/16608530/69fca2d4-436a-11e6-80ab-d24589f11264.png)

[2016-07-08 09:46] newpanjing commented on #48
pyton not supported by gyp

[2016-07-08 18:38] soldair commented on #48
looks like your build environment for native modules is not setup.

we depend on node canvas. so these build instaurction may help you run this on windows https://github.com/Automattic/node-canvas/wiki/Installation---Windows

[2016-07-08 18:39] soldair commented on #48
this really amazing moule may be the easiest way to setup your windows build environment
https://www.npmjs.com/package/windows-build-tools

[2016-08-15 00:31] calidion opened #50 "incompatiable with electron js."
module version mismatch. expected 49 got 46

[2016-08-15 13:01] soldair commented on #50
interesting. this is a native module issue with canvas i expect.
this can be used client side in electron i bet because it has canvas built into it.

to make it work you probably need to follow these instructions. or just ignore the build error and use the canvas from the dom. https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md

[2016-08-16 08:53] thardes2 opened #51 "Problem with Windows"
I think this is not working on a Windows OS right? the "qrcode.js" has the following lines of code

[code]
The delimter '/' is not always working on Windows, as I get the following error:

[2016-08-16 13:12] soldair commented on #51
hmm
i believe the problem is we need to remove the __dirname bit altogether and replace it with ./
this lib is rather old =)

if you want to make a pr ill happily merge it =)

[2016-08-16 13:29] #51 closed

[2016-08-16 13:30] soldair commented on #51
ok i just fixed it =)
published to npm as + qrcode@0.4.3

[2016-08-25 09:35] dannyto opened #52 "Adjust QRCode"
Hi Soldair!

Can this module allow to adjust the square of qrcode. When the data is big the square look so small

![qrcode](https://cloud.githubusercontent.com/assets/13778373/17963910/d75f1a8e-6ae1-11e6-9c38-8fc842fa54ab.png)

![qrcode](https://cloud.githubusercontent.com/assets/13778373/17963976/10199c32-6ae2-11e6-8346-8ac40950b27f.png)

Thankz,

[2016-08-25 15:34] soldair commented on #52
the size of the anchor point (in the red square you added to the second image)  relative to the size of the smaller square is a fixed ratio required by the qr code reader to figure out how to read it.

as far as i know we cannot adjust the size of the anchor squares without reducing the success rate for scanners.

you can make the code draw squares or "modules" with more pixels by setting the scal

[2016-08-25 15:34] #52 closed

[2016-08-25 15:36] #50 closed

[2016-08-25 15:38] soldair commented on #44
im just going to mention we already expose a draw bit array function which returns an array. to render this as svg is just going to be looping it over one more time and generating the markup

it would be nice to have this but dont actually know svg and i dont have time to add this to my weekend project list yet =)

[2016-08-25 15:42] soldair commented on #36
this is strange. it gets translated to string "M" here https://github.com/soldair/node-qrcode/blob/master/qrcode.js#L48

and that key is eventually translated to https://github.com/soldair/node-qrcode/blob/master/lib/qrcode-draw.js#L184

but guess what. the value of medium error correction is 0 to it must fall back to the default of "H" lol

[2016-08-25 15:46] #36 closed

[2016-08-25 15:47] #22 closed

[2016-08-25 15:49] #33 closed

[2016-08-25 15:49] #48 closed

[2016-08-26 01:40] dannyto commented on #52
Thankz

[2016-09-08 19:44] vigreco commented on #44
Hi, I'd like to work on this if you agree.
Do you have any preferences / suggestions on the API format?

[2016-09-12 13:33] soldair commented on #44
hey! thats great @vigreco
i think that you should add a new function at the bottom of
https://github.com/soldair/node-qrcode/blob/master/qrcode.js

you should pass the function aguments directly to `drawBitArray` just like the `drawText` does
https://github.com/soldair/node-qrcode/blob/master/qrcode.js#L184
and then from the array of bits create the svg and then callback =)

you can put your rende

[2016-09-13 10:29] vigreco commented on #44
Thanks @soldair! I'll start working on this later today.
In order to save the svg as a file, do you think is best to export a dedicated function or integrate it in https://github.com/soldair/node-qrcode/blob/master/qrcode.js#L130 and detect which render to use based on the extension of the output file?

[2016-09-13 10:40] soldair commented on #44
Oooh that sounds nice

On Sep 13, 2016 6:29 AM, "Vincenzo Greco" <notifications@github.com> wrote:

[2016-09-25 19:43] vigreco commented on #14
Not sure why [this](https://github.com/soldair/node-qrcode/blob/master/lib/qrcode.js#L40) and [this](https://github.com/soldair/node-qrcode/blob/master/lib/qrcode-draw.js#L34) are there.
Uint32Array is never used due to a bug in the if condition, but it can't be used anyway since the rest of the code doesn't expect a typed array.
We should probably use just a simple Array here, since we don't take

[2016-09-26 01:26] soldair commented on #14
I agree :)

On Sep 25, 2016 3:43 PM, "Vincenzo Greco" <notifications@github.com> wrote:

[2016-09-26 13:03] #14 closed

[2016-10-12 02:29] jwerre opened #55 "unable to install with NPM"
I'm getting the following error at install:

[code]

I'm on OSX 10.12 (Sierra), Node 4.4.4, npm 2.15.1
any ideas?

[2016-10-12 03:24] desaias commented on #55
Have you followed the instructions on the installation of [canvas](https://github.com/Automattic/node-canvas)?

I was having this issue too and canvas requires you to `brew install pkg-config cairo libpng jpeg giflib` first.  This has worked for me, but as a heads up... it takes a while.

[2016-10-13 13:02] soldair commented on #55
i'm sure @desaias suggestion is correct. if you resolve you abillity to install node-canvas thi'll install great.

one day i hope to remove canvas as a dep adn rely on js image encoders

[2016-10-13 13:02] #55 closed

[2016-10-14 15:58] vigreco opened #56 "Refactor proposal and possible future enhancements"
I open this issue to discuss about a possible re-factor of the lib.

The main reason that led me to propose this is because I found quite hard right now add tests or new functionalities to the lib in a clean way.

I started adding unit tests in my local branch but it's hard to follow what tests are actually testing.

I've also some ideas (mostly regarding the rendering part) that I would like to s

[2016-10-14 16:52] soldair commented on #56
i agree with all of this for the version 1.0 except moving to promises.
lets push that off for later. I am personally still agianst promises for a lot of reasons that are not important to this thread.

[2016-10-15 08:46] vigreco commented on #56
Great! Thanks for your feedback. I'll start working on this asap.

Regarding Promises, I meant to add support for them in addition to the current interface.
Something like `if callback function is undefined, return a Promise`.
However this was just some preliminary thought, nothing actually needed.

[2016-10-24 23:47] rstudner opened #57 "Having an issue installing it?"
npm install --save node-qrcode

It hangs(?) on the loading webDrivers step.

[code]

[2016-10-25 13:53] soldair commented on #57
would you try installing this in an empty project there may be an issue with your other dependencies.

[2016-10-25 14:12] rstudner commented on #57
[code]

that hangs on the load: download webDrivers

i'm on OSX btw (minor detail I should have mentioned at the start).

[2016-10-25 14:17] soldair commented on #57
k ill try on node 6. i only have linux but ill let you know if i can repro
did you `npm init` inside foo? it's ambiguous where it'll be saving if there no package.json inside foo

[2016-10-25 14:20] rstudner commented on #57
I did an npm init, sorry for leaving that out.

[2016-10-25 14:30] soldair commented on #57
ok. build.js in node-qrcode is only run on publish never part of install so it cannot possibly be hanging there.

the only suggestion i have is to install verbose
`npm install --verbose`

and maybe share the npm-debug.log after waiting for the command to timeout.

[2016-10-25 14:35] rstudner commented on #57
[code]

Not sure if I wait forever if it will actually timeout.  But here we go :)

[2016-10-25 14:56] soldair commented on #57
you see node-browser is not a dependency of qrcode.

how is this module getting installed!

[2016-10-25 14:57] vigreco commented on #57
@rstudner on NPM the package name is **qrcode**, not node-qrcode :)
Look [here](https://github.com/soldair/node-qrcode#installation).
Try with `npm install qrcode`

[2016-10-25 15:00] soldair commented on #57
lol thanks @vigreco

[2016-10-25 16:10] rstudner commented on #57
Oh my lord.

I'm so sorry everyone.  I tried so many qrcode libraries lah lah.

[2016-10-25 16:10] #57 closed

[2016-10-25 16:18] rstudner commented on #57
And whatever it is worth, I was using https://github.com/alexeyten/qr-image in the meantime.

I'll compare/contrast the two approaches.

[2016-11-03 07:47] ColorfulCow commented on #24
sudo yum install cairo cairo-devel cairomm-devel libjpeg-turbo-devel pango pango-devel pangomm pangomm-devel

[2016-11-08 10:08] vigreco commented on #56
I've started pushing my progress on [refactor/core](https://github.com/soldair/node-qrcode/tree/refactor/core) branch.
I'm focusing on the core part for now. I hope to move to the rendering part soon. 😃

[2016-11-08 19:32] soldair opened #58 "maybe use jimp"
https://github.com/oliver-moran/jimp

this would remove our native dep to node-canvas to make png and jpegs. the canvas renderer should still wor but it'll need to require the canvas to be passed in.

just noting it here for later

[2017-03-22 14:41] keeslinp commented on #56
Hey, if you guys are planning on replacing node-canvas with jimp because all it does is export an image would it be possible to add a way to install this without node-canvas? The reason I ask is because all I need is the bit array and I'm manually creating a PNG myself later so the errors about not having cairo are inconvenient.

Thanks for you guys's great work :)

[2017-03-22 15:04] vigreco commented on #56
Hi @keeslinp, I'm proposing a refactor which also removes node-canvas dependency.
You can follow the progress here: #67
Feel free to clone `refactor/renderer` branch if you want to try it.

[2017-03-22 15:11] keeslinp commented on #56
Awesome, thanks :). I was able to get https://github.com/alexeyten/qr-image to work for now. But I think there might be some browser compatibility issues (just judging by the open issues). I'll keep an eye on this and give it a try. Thanks for the fast reply!

[2017-03-29 17:47] gajus commented on #58
@soldair In the mean time, can you make `canvas` an optional dependency?

I don't want to download it if I am not planning on generating PNG images.

[2017-03-29 20:53] soldair commented on #58
@vigreco can we land https://github.com/soldair/node-qrcode/pull/67 yet?
@gajus this includes removing node canvas

[2017-03-29 21:36] vigreco commented on #58
@soldair I think it's ready, we can merge it if it's ok for you too.

[2017-03-29 21:53] vidaljessi opened #68 "Dependecy problem"
I am using qrcode with meteor. I added the dependency using meteorhacks:npm and when I tried to use the app, I saw this error:

[code]
Could anybody has a clue about this issue?

[2017-03-29 23:11] vigreco commented on #68
Hi vidaljessi,
this seems an issue with node-canvas dependency, perhaps some error occurred during module compilation?

Make sure to have installed all the needed dependencies (you can find installation instructions [here](https://github.com/Automattic/node-canvas#installation)) and try to install it again.

If you already have all the deps installed try to run `node-gyp rebuild` inside canvas fol

[2017-03-30 13:14] vidaljessi commented on #68
These were my steps:

`sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++`

`npm install canvas --save
npm install qrcode`

When I ran node-gyp rebuild  I got this:

`server/npm/npm-container/node_modules/qrcode/node_modules/canvas$ sudo node-gyp rebuild
module.js:338
    throw err;
          ^
Error: Cannot find module 'graceful-fs'
    at Function.Modu

[2017-03-30 14:33] soldair commented on #68
hmm. not sure why you would have a missing sub dependency can you update npm  `sudo npm install npm -g` rm -fr node_modules and try again?

[2017-03-30 17:35] soldair commented on #68
hey @vidaljessi we just published version 0.8.0 which npo longer has the native dependency!
please update the version string to `^0.8.0` in your npm rc and run npm install again =)

[2017-03-30 17:35] #68 closed

[2017-03-30 17:35] soldair commented on #58
this has been released 0.8.0

[2017-03-30 17:35] #58 closed

[2017-03-30 17:36] soldair commented on #56
node canvas has been removed as of 0.8.0.

whats next =)

[2017-03-30 19:49] gajus commented on #44
@soldair Whats with the XML output for the SVG?

Thats neither cross-platform friendly or efficient.

Have a look at how https://github.com/alexeyten/qr-image implements it.

Here is an output example https://github.com/alexeyten/qr-image/issues/39

All you need is to return the SVG path.

[2017-03-30 19:51] gajus commented on #44
@soldair Have you tried inviting @alexeyten as a contributor to this project?

Joining efforts would benefit everyone.

[2017-03-30 21:17] vidaljessi commented on #68
thanks a lot, fixed!!!!!!!

[2017-04-01 15:23] soldair commented on #44
Happy to have them on board if they are interested. I believe our core is beyond what qr-image supports now thanks to @vigreco. If either of you would like to contribute a change to output svg thats both cross-platform friendly and efficient im sure it would be welcome =)

[2017-04-01 22:09] vigreco commented on #44
Hi @gajus, I'm not an svg expert, I did some research but I didn't found anything about efficiency or cross-platform friendly svg. Do you mind recommend some link/resource so I can improve my knowledge and possibly improve the code too?

I see though that using an svg path could produce a more concise and less verbose output.

[2017-04-11 10:29] raitisbe opened #71 "toFile function is renamed to save which needs to be reflected in README"

[2017-04-11 11:27] vigreco commented on #71
Hi @raitisbe,
I'm not sure what you mean.

The method to save to a file is [toFile()](https://github.com/soldair/node-qrcode#tofilepath-text-options-cberror) as described in readme.

`save()` method is deprecated and it's still present only for backward compatibility.

Have I misunderstood your request?
Thank you!

[2017-05-04 12:01] ngnono opened #72 "qrcode.toCanvas with wrong"
version ：0.8.1
my nodejs server on exec  qr.code.toCanvas(text,opts,cb) is wrong!!!!
this response :Error: You need to specify a canvas element

on [canvas.js](https://github.com/soldair/node-qrcode/blob/master/lib/renderer/canvas.js)  function getCanvasElement ()
on browser is ok
on server is not work
---
this code is

[code]
change into

[code]

[2017-05-04 16:57] vigreco commented on #72
Hi @ngnono,
we've removed `node-canvas` dependency, to use canvas in node you need to specify a `node-canvas` instance as first parameter of [toCanvas](https://github.com/soldair/node-qrcode#tocanvascanvas-text-options-cberror) function.

[code]

[2017-05-04 17:52] soldair commented on #72
@vigreco was this a breaking change or a docs issue?

[2017-05-04 18:55] vigreco commented on #72
@soldair, neither of them I think.
`toCanvas` is part of new APIs and wasn't available before, so it cannot break code which use old versions.

However, I'll look into it to be sure.

[2017-05-04 20:18] soldair commented on #72
great =) just curious

[2017-05-05 05:12] ngnono commented on #72
okay.  :)

[2017-05-05 05:18] #72 closed

[2017-05-09 18:05] poifox opened #75 "Using the lib from node, browser methods still being called."
Hello!

I've been trying to use the lib from node.js and I was under the impression that making method calls from node.js would use the functions in `server.js` but I keep getting this error where the lib complains about a canvasElement being required, which, from looking at the souce code, I think it's only a requirement of the browser lib. I also digged the code expecting to find where a fallbac

[2017-05-09 19:58] soldair commented on #75
this should work for you. ill take a look =)

[2017-05-09 20:03] soldair commented on #75
so i tested your example on node v6.9.4 and it worked correctly. no canvas error.
[code]

qrcode version is0.8.1

what versions of things are you using?

[2017-05-09 20:10] soldair commented on #75
if you are using the file built for the browser (lib/browser.js) it expects to use the canvas renderer for lots of things. we can probably change or make it configurable so it tries to use jspng like we do on nodejs.

have you tried to use svg instead? this might meet your usecase.

[code]

[2017-05-09 20:54] poifox commented on #75
I tried the code in node.js only and it did work, but when I try to do the same on react-native the lib goes right ahead and uses the browser.js functions.

[2017-05-09 21:47] soldair commented on #75
is svg an aceptable format for you? if it is i can add the toString function to the browser api and you'll be good to go. We could also return as a bit array so you can choose to render with whatever you have access to in react-native.

[2017-05-09 22:02] poifox commented on #75
Any format we can convert to base64 dataURL is good, but the problem is not the format we may pick, but instead the fact that the lib will fallback to browser.js when used from react-native.

If you could setup a very simple react-native project for a quick test I can let you know what we're trying to do with the qrcode lib. :)

Thanks for your patience and help.

[2017-05-09 22:47] soldair commented on #75
i researched react-natives Image object a bit and im not sure it works with svg. there are some plugins from other folks for this but its not like easy.

is it possible to use a webview to render the qrcode that way it just has canvas and everything would be awesome?

these folks are doing something like that https://github.com/cssivision/react-native-qrcode/blob/master/lib/Canvas.js ... but it se

[2017-05-09 22:50] vigreco commented on #75
@poifox I think the use of browser.js in react native app is the correct behaviour although not very usable at the moment since you haven't a canvas element.

As far as i know react native app doesn't run in a node.js environment so also importing the qrcode module for node.js wouldn't work.
You could try with `require('qrcode/lib')` which will require the code in `server.js` but I guess you'll ha

[2017-05-09 23:05] poifox commented on #75
thank you guys for your concern, what I'm trying to do is get the base64 Data URL from the lib, so I can use it in a webview like this:

[code]

Maybe my implementation is wrong, I was just expecting the lib to use the server.js functions instead of falling back to browser.js and require me to add a canvas, which would be a more cumbersome solution for my use case.

[2017-05-09 23:08] poifox commented on #75
Also, I tried using @cssivision's lib but the react-native project would not pass the build process, at least on android, which is the platform I'm developing mainly right now so not sure what to do about that one really :/

[2017-05-09 23:24] soldair commented on #75
the blocker on using server.js is that somethingrelated to zlib in the js png encoder doesnt browserify.
the good news is based on your example you can render svg directly on the page in a webview with no data uri encoding at all.
@vigreco what do you think about adding the toString method to browser.js?

[2017-05-09 23:50] poifox commented on #75
Having toString() in browser.js would solve my use case indeed, I'd be most thankful  if that was added to the lib.

[2017-05-10 00:22] vigreco commented on #75
@soldair I don't see why not 👍
I think this will require some modifications to avoid server code inside browser bundle though.

[2017-05-22 17:00] poifox commented on #75
Hi! Do we have an ETA on this feature being added? :)

[2017-05-23 11:52] soldair commented on #75
ill need to run it through some more tests but soon =)

[2017-05-23 11:53] soldair commented on #75
if you try the branch out let me know =) @poifox

[2017-05-23 16:48] poifox commented on #75
I'll try it, thanks! :)

[2017-05-23 18:38] poifox commented on #75
Hey, I've tried the code in the `browser-svg` branch and got a weird message about the `fs` module not being available under the lib's `npm_modules` directory, which, by the looks of it, seems calling `qrcode.toString("data", {type: "svg"})` ends up trying to use the `renderToFile()` function below it, which is really strange. The code does work ok on nodejs only but it seems it won't work on reac

[2017-05-23 19:01] poifox commented on #75
Additionally, I've already tried using an externally generated svg qrcode with a WebView in the mobile app I'm working on and it works perfectly, so if we could somehow figure out how to make toString() work that'd be it... or maybe making react use server.js, not sure which is more feasible or if you guys are interested at all in adding this. lmk.

Still haven't found a better x-platform solution

[2017-05-23 20:44] soldair commented on #75
im sure we can sort it out. ill push something for the fs issue real quick and let me know if you run into the same issue =)

[2017-05-23 21:00] soldair commented on #75
ok @poifox could you try the branch again? i moved some things around and i hope it wont hit any more fs code.

[2017-05-23 21:51] poifox commented on #75
Works great! :smile: Will this get pushed to master/tag? I hope so!

[2017-05-23 23:11] #75 closed

[2017-05-23 23:18] soldair commented on #75
@poifox pubished to npm at 0.8.2

[2017-05-24 14:18] poifox commented on #75
Hmmm... doing just `npm install qrcode` outputs the error `qrcode@0.8.2    invalid`.

[2017-05-24 16:57] soldair opened #77 "add note to readme that we support react-native i guess"

[2017-06-14 09:01] markbrown4 opened #79 "retina friendly"
Is it possible to add scaling depending on devicePixelRatio for the browser renderer?

[2017-06-14 11:12] vigreco commented on #79
Hi @markbrown4, you can use the [scale](https://github.com/soldair/node-qrcode/#scale) option to adjust the size:

[code]

[2017-06-14 12:03] markbrown4 commented on #79
Thanks @vigreco, works like a charm.

[code]

[2017-06-14 12:03] #79 closed

[2017-07-12 04:36] soeminnminn opened #82 "render SVG, renderToDataURL method."
[code]

[2017-07-18 10:27] skibz opened #83 "toFileStream silent failure with too large string"
[code]

when this is program is run, `console.log` is never invoked. what i expected is `console.log` to be invoked with an error describing that there is too much input data to be encoded.

note that i'm not sure **exactly** how big the string has to be to cause the silent failure, but the project in which i am using this library was attempting to use a string of more or less that size.

[2017-07-18 10:55] vigreco commented on #83
Hi @skibz,
`toFileStream` hasn't a callback parameter, indeed there's an error in documentation. My mistake.

You should use stream's events instead.

The correct signature is
[code]
I'll fix it ASAP.

Thanks for catching that!

[2017-07-18 11:26] skibz commented on #83
ah, now i feel silly for not reading the source code myself 😛
thanks for clearing this up for me @vigreco

[2017-07-18 17:34] soldair commented on #83
another note. I think that your very large string wont fit in a qrcode of any size.
https://github.com/soldair/node-qrcode#qr-code-capacity

i dont know really recall what happens if you do this though. =)

[2017-07-18 18:14] skibz commented on #83
okay, so then i should be checking the limits of the input data using the table @soldair referenced, and the streams method has no callback.

thanks guys 👍

[2017-07-18 20:06] vigreco commented on #83
@skibz, the lib already checks for you if the text can fit in a qr code.
If you don't specify a qr code version, the more suitable will be used.
If your text size exceeds the max allowed size an error will be throw.

That said, I checked the code and I found a couple of issues that prevent the error to be propagated when using the `toFileStream` api.
So if you are using the `error` event of Writab

[2017-07-22 09:23] #83 closed

[2017-07-22 09:30] vigreco commented on #77
Done in [54b8499](https://github.com/soldair/node-qrcode/commit/54b8499f8bb5bdf2d6ee8be02da6d3413925a4b0)?

[2017-07-22 13:46] vigreco commented on #83
@skibz, version `0.9.0` has been published to npm. It should solve your issue.

[2017-07-22 14:29] soldair commented on #77
yup =)

[2017-07-22 14:29] #77 closed

[2017-07-28 10:29] popod opened #85 "Update pngjs dependency"
Please, could you update your package.json dependencies for pngjs from 2.3.1 to latest 3.2.0 ?

[2017-07-28 10:51] vigreco commented on #85
Hi @popod,
do you have a specific issue caused by version 2.3.1 of `pngjs`?

[2017-07-28 11:13] popod commented on #85
Not really with node-qrcode, but when I try to run unit tests with karma in my existing project, I've this warning (and it seems that this not appear with pngjs 3.2.0) :

[code]

[2017-07-28 12:04] vigreco commented on #85
@popod are you running this in a browser?
`pngjs` should not be included in the final bundle, it's only for node.
Can you provide a snippet to help me to reproduce the issue?

[2017-07-31 07:43] vigreco commented on #71
Closing due to inactivity.
Feel free to reopen if needed.

[2017-07-31 07:43] #71 closed

[2017-08-09 06:07] popod commented on #85
@vigreco no, I'm running this in an electron.js application (so this is not a problem with node). I use webpack and some others tools, so a snippet will be hard to provide..

[2017-08-09 18:51] soldair commented on #85
fwiw im ok with dropping support for node <4 if we push a new major. things are in really good shape and this kind of problem with pngjs is an emerging pattern

[2017-08-11 07:13] vigreco commented on #85
@soldair I'd like to drop old node versions too. Node 0.10 and 0.12 are not supported anymore since [last year](https://github.com/nodejs/LTS#lts-schedule1) and they often create annoying errors/warnings.
I can send a PR if you agree.

@popod till then, if it works for you, you can import `'qrcode/lib/browser'` in place of `'qrcode'` and use [browser API](https://github.com/soldair/node-qrcode#bro

[2017-08-11 16:26] soldair commented on #85
i agree :confetti_ball:

[2017-08-28 08:01] ankurmittal0562 opened #87 "shasum check failed ?"
Performing application deployment (running for 2 hours 19 minutes).
Application deployment failed at 2017-08-28T05:25:30Z with exit status 1 and error: Hook /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh failed.

+ /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
npm WARN deprecated crypto@0.0.3: This package is no

[2017-08-28 08:02] ankurmittal0562 commented on #87
can anyone please explain why we are getting this shashum check failed for qr code . the servers are in china aws

[2017-08-29 23:08] soldair commented on #87
this should only happen if the download is corrupted in transit to you or the registry failed to send the correct bytes. it doesnt have anything to do with qrcode itself.

if you like you can email support@npmjs.com with the problem, and npm-debug.log, and the output of `npm version && npm config list`

[2017-08-29 23:08] #87 closed

[2017-08-30 10:41] gajus opened #88 "How to obtain QR code as PNG in a buffer?"
The closest option that I see is https://github.com/soldair/node-qrcode#tofilestreamstream-text-options. Though it is not entirely clear how to use it in this case.

[2017-08-30 11:48] gajus commented on #88
As my use case was just to return the PNG to the client in an express.js, I could simply pass `res` object as the writable stream.

[2017-08-30 11:48] #88 closed

[2017-08-30 12:20] gajus opened #89 "How to force a specific width of a PNG image?"
There does not seem to be an option to force a specific width of a PNG image. Simply scaling the picture would result in blurry visual.

[2017-08-30 14:24] vigreco commented on #89
Hi @gajus, at the moment there's no way to specify a width, but you could generate an higher resolution image using a bigger [scale](https://github.com/soldair/node-qrcode#scale) value. Then you could downscale the image to the desidered width if needed.

Other possible solution:
Since the qrcode is made of white and black pixels I think you can upscale the image without losing quality just by dis

[2017-08-30 18:27] gajus commented on #89
This is what I've ended up doing.

Will give this a shot.

[2017-08-30 19:54] soldair commented on #89
@vigreco should we consider adding support for this resize call? may be a common enough ask for those who cant use svg or dont want to impment their own renderer on top of the bit array

[2017-09-14 12:58] mraiguo opened #90 "White Space around QR code"
is there a reason (or a way to remove), the white space around the QR code,like this;
![image](https://user-images.githubusercontent.com/22299421/30430914-64e8e538-998f-11e7-9b6c-bf0a246ded01.png)
thanks!

[2017-09-14 13:39] vigreco commented on #90
Hi @mraiguo,

the margin (4 white modules) is there because is required by QR code specs and it's part of the symbol itself. QR code readers use that margin to isolate the symbol and recognize it.

However you can remove it using the [margin](https://github.com/soldair/node-qrcode#margin) option and setting the value to `0`,
but for a better readability make sure the symbol has at least a little m

[2017-09-21 09:28] chenjigeng opened #91 "toDataURL doesn't work in IE9"
toDataURL doesn't work in IE9.
when I use it in IE9, the browser tell us that 'the object doesn't support “write”attributes or method'.Please check this problem.

[2017-09-21 18:30] soldair commented on #91
im very interested in a fix for this please take a look at the stack trace and try to narrow it down. maybe share it here.
even better would be a pull request but let me know how far you get =)

[2017-09-22 16:14] vigreco commented on #91
I think the issue is due to [this](https://github.com/soldair/node-qrcode/blob/master/lib/utils/typedarray-buffer.js#L52).
IE9 doesn't support `__proto__` therefore the `Uint8Array` instance isn't augmented with the extra methods like `write`, that generates the error.

[2017-09-23 14:09] vigreco commented on #91
Hey @chenjigeng,
I've just pushed a [branch](https://github.com/soldair/node-qrcode/tree/fix/ie9) with a fix for this (hopefully).

Do you mind give it a try and tell us if it solves the issue?

[2017-09-24 17:25] chenjigeng commented on #91
@vigreco
hello,I had test it and it's ok.Thank you.

[2017-09-27 11:03] vigreco commented on #91
awesome! thanks for the feedback.

[2017-09-27 14:15] soldair commented on #91
wooo! :confetti_ball:

[2017-09-28 10:08] chenjigeng commented on #91
ok,You are very good

[2017-09-28 10:08] #91 closed

[2017-10-10 18:48] renatograel14 opened #93 "Weird issue impact regarding String.bold() Javascript"
Hi everyone!

This is really weird issue we've in our project...
Some places (in node.js) we use bold() to return some kind of HTML strings (I know this is a bad practice, by the way).
The thing is:  when you require QRCode `.bold()` method stops working

You can test this usign node cli

[code]

I would like to know if is there any javascript method/property not supported

We already solve this b

[2017-10-10 20:26] vigreco commented on #93
Hi Renato,
this is really strange.
There should be nothing in `qrcode` that interfere with `String`.

I tested your example with node v0.10, v4, v8, and it worked as expected:

[code]
Which node and qrcode versions are you using?

[2017-10-10 20:46] renatograel14 commented on #93
HI, @vigreco, thanks for reply!

I'm usung node v6.7.0 and qrcode@0.8.2

[2017-10-10 21:39] vigreco commented on #93
Thanks for your feedback.
I think the issue is caused by `colors`, a dependency used in version `0.8.2`.
You should receive the same error using `require('colors')` in place of `require('qrcode')` in your example.

This dependency has been removed in version `0.9.0` so I think that the fastest fix would be updating `qrcode` to the latest version.
This would require no changes in your code.

[2017-10-17 14:41] andywer opened #94 "Regex string seems to be escaped incorrectly"
The string used to construct RegExps from seems to contain incorrectly escaped unicode characters / invalid characters, making uglify break the code in our app.

https://github.com/soldair/node-qrcode/blob/df6434054564bbc0dc9877fae59e4dd0ea5d0444/lib/core/regex.js#L3

There should probably be double backslashes to actually pass the escaped unicode codes to the RegExp constructor.
Right now they tu

[2017-10-17 17:14] vigreco commented on #94
Hi @andywer
this seems a file encoding issue.

Uglifyjs converts unicode chars to UTF-8 but your output file seems to have a different encoding (Central European - Windows 1250 I guess?)
Could you try to convert your minified file to UTF-8 and see if it still raises the error?

I'm not sure that using double backslashes will work here, `\\` will match the character `\` literally. But I'm not a reg

[2017-10-17 18:21] andywer commented on #94
Thanks, @vigreco. Good points.

We are using webpack@2.3.3, using uglify-js@2.8.14. The resulting output files are published to AWS S3.

The idea behind the double backslash was to be resolved to a single `\`, resulting in the actual `\uXXXX` unicode escape sequence that it is resolved by the regex engine, not before :)

But yeah, might be a bad charset in the headers. Unfortunately I don't have a

[2017-10-17 19:21] vigreco commented on #94
Ohh I see what you meant now 😄

Thanks for the info, I'll try to reproduce the issue.

[2017-10-19 09:48] Puuuudding commented on #91
@soldair Since this fix comes after the release 0.9.0. Do you have any schedule about new release to make this fix available to npm?

[2017-10-24 13:01] stevgouws commented on #85
I'm having the same issue with Electron. Thanks.

[2017-10-24 13:50] vigreco commented on #85
@stevgouws I'm working on it right now. Will be fixed soon.

[2017-10-25 04:33] stevgouws commented on #85
@vigreco Thanks so much.

[2017-10-25 11:47] #90 closed

[2017-10-25 11:48] #93 closed

[2017-10-31 09:46] MGF15 opened #98 "update npm package"
when user install qrcode with npm it's install an old version :\ can you update the npm package !

[2017-11-06 14:59] adius opened #99 "Add support for reading text from stdin"

[2017-11-06 15:33] adius opened #100 "Bug: CLI flags don't work"
[code]

[2017-11-06 15:40] adius commented on #100
Ah, I see. It's just available in master.
=> Please release a new version 😁

... or even better: Add support for stdin and then release a new version 😛

[2017-11-07 12:39] vigreco commented on #99
Hi @adius,
what's the use case of this?

[2017-11-07 18:56] adius commented on #99
😳

[code]

I mean it's one of the most important features of Unix tools, that they support piping 😅

[2017-11-07 19:58] vigreco commented on #99
ohh of course!
Don't know why but I thought you meant "interactive" input from stdin 😅

Well, I think it would be a good feature to add in version `1.1.0`.
I'm about to release version `1.0.0`, so this will have to wait till the next release.

/cc @soldair

[2017-11-07 20:02] soldair commented on #99
yeah good idea.

[2017-11-08 10:03] vigreco commented on #100
`v1.0.0` released!

[2017-11-08 10:03] #100 closed

[2017-11-08 10:04] vigreco commented on #98
done!

[2017-11-08 10:04] #98 closed

[2017-11-08 10:10] vigreco commented on #94
A fix for this is available in `v1.0.0`. Thanks for reporting it!
Feel free to reopen if the issue is still not solved for you.

[2017-11-08 10:10] #94 closed

[2017-11-08 10:14] vigreco commented on #85
node-qrcode now uses the latest version of pngjs.
Thanks everyone!

[2017-11-08 10:14] #85 closed

[2017-11-10 21:03] wkamir opened #102 "options not working (except for errorCorrectionLevel)"
Thanks to everyone for this nice and easy to use library!

I just tried a basic example (express, backend):

[code]

I was expecting to have a blue on white qr code generated, but it came out black on white...
I tried to modify different settings (image type, scale, etc.) but it seems that those settings don't have any effect. The only setting that seems to work is the "errorCorrectionLevel".

Whe

[2017-11-11 00:26] vigreco commented on #102
Hi @wkamir,

`color` is not a property of `rendererOpts`, you should move it at the same level of `errorCorrectionLevel` as for all other options.

[code]

`rendererOpts` is only used to fine tuning the renderer settings, like deflate compression for pngs or image quality for jpegs. In most cases there's no need to set these values.

If you are using the lib with node/express only the settings for

[2017-11-11 08:21] wkamir commented on #102
:grin: Sure helps.

Thanks a lot!

[2017-11-11 08:21] #102 closed

[2017-11-12 18:28] #99 closed

[2017-11-24 06:10] jsweber commented on #45
how to set canvas'size. such as width and height

[2017-12-15 07:41] duongcat opened #104 "Problem with some special characters"
Hi,
I use function "toFile" to generate QR code, input string have special characters like dot (.) commna (,)
When I read QR code, I receive an other character
dot(.) --> -
comma (,) --> :

Please help me fix it!

[2017-12-15 09:42] vigreco commented on #104
Hi @duongcat,
thanks for reporting the issue.
I'll look into this.

[2017-12-15 10:56] vigreco commented on #104
Ok, I found the problem!
There's a bug in a RegExp. I'll fix it by today.

Meanwhile, as a quick workaround, you can force the encoding to `byte`.
[code]

Thanks! 😃

[2017-12-17 16:50] Favna opened #107 "[Proposal] Support for promises and through that Async/Await for NodeJS"
As the title suggests I would strongly recommend creating support for [promises](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise) for the NodeJS part of this module due to the power and future proofing that this grants the package as a whole.

Once promise support is added we can also directly use the package asynchronously, an example code snippet of such

[2017-12-19 01:41] tastypackets commented on #107
I agree.

I put a Qr code generator in a promise so I can use it in a similar fashion, but it would be nice if the library had promises out of the box so I don't have to do this.

[2017-12-22 09:51] vigreco commented on #107
I definitely agree on this.

Using cb function can be inconvenient especially when using ES6/ES7 syntax.
I had proposed this sometime ago too (#56), but till now it had a low priority since is quite easy to workaround the problem by wrapping the qrcode api in a Promise like you did.

I don't think we'll going to completely replace callbacks func with Promise anytime soon, but surely we may make bo

[2017-12-27 15:45] soldair commented on #107
As more and more folks expect this to work that way it would be nice to expose promise wrapped ends for people to call and treat it as a first class way to use the lib. Excited to see where we end up. :)

[2017-12-27 17:19] #104 closed

[2017-12-27 17:54] vigreco commented on #104
Fixed in `v1.0.1`.

[2017-12-27 17:59] #89 closed

[2017-12-28 11:09] vigreco commented on #89
@gajus, a [width](https://github.com/soldair/node-qrcode#width) option is now available in `qrcode@1.1.0`.
Thanks!

[2017-12-28 20:16] #107 closed

[2017-12-28 22:41] vigreco commented on #107
`v1.2.0` released with support for Promises 😃

[2018-01-01 09:52] vigreco commented on #4
I think this has been solved in latest releases 👍

[2018-01-01 09:52] #4 closed

[2018-01-04 13:26] droidmanspace opened #111 "Incorrect data in QR Code."
Making incorrect QR codes

[2018-01-04 13:45] vigreco commented on #111
@droidmanspace do you mind to elaborate? What's the issue?

[2018-01-04 15:18] vigreco commented on #56
All the proposed features have been implemented and are available in latest releases! 🎉
Thanks!

[2018-01-04 15:18] #56 closed

[2018-01-04 23:02] delkant opened #112 "Text/Title/label below the QR code"
Is it possible to add some text at the bottom of the QR code?

[2018-01-05 12:44] vigreco commented on #112
Hi @delkant, unfortunately this is not possible and I don't think it's something we'll going to implement as a built in feature.
A label is not really a part of qrcode symbols but is more a "style" related stuff.

Of course you could use HTML/CSS or any image manipulation lib to add your extra contents. Or, you could write your own custom renderer that also prints labels.

[2018-01-05 12:53] delkant commented on #112
Thank you for the answer!. In my case I need this to provide stickers/labels to packages that we share with customers so we can track the status. And it is nice to have the related text representing the code when you are on a phone call with a customer (as a use case). Or just the related url when you use it for sharing websites.

I will take a look at the code and if I see I can add that feature

[2018-01-05 12:53] #112 closed

[2018-01-08 08:40] fragno opened #113 "terminal qrcode support resize"
qrcode 'http://www.example.com'
generate a qrcode in the terminal，but it is too large。can web support to resize the size？

qrcode 'http://www.example.com' --width 30 --height 30

is this possible？

[2018-01-08 10:04] vigreco commented on #113
@fragno this is not possible.
The terminal renderer simply uses escape codes and `space` character to draw the symbol, so the final size depends on your terminal font.
Unfortunately there is no way to force a specific size since the output is not an image but only ASCII characters.

[2018-01-09 17:39] vigreco opened #114 "Provide a way to get only the svg data"
Currently the only way to generate an svg output in browser is using the method `toString()` which returns an svg tag as string:

[code]

This is ok, but it could be a bit inconvenient for who want to handle the markup in a different way (for example in a React app) or who want to use the qrcode as a part of another image.

We should provide a way to return only the data and let the users do whate

[2018-01-09 17:40] vigreco commented on #111
Closing for lack of informations.

[2018-01-09 17:40] #111 closed

[2018-01-09 17:41] #113 closed

[2018-01-10 23:51] soldair commented on #114
this is interesting. thinking about it. =)

i worry that if you expose this object format  we'll be kinda stuck with it even if you find a better way to do it in the future. I like dedicated methods that do the things they say they do. this is more what folks expect. like toSvg({data: true/false})

whatever you think =)

[2018-01-11 04:12] zhaofeihao opened #115 "how can i generate the same qrcode for a specific user with his username and password"
if i want generate a qrcode image base username and password for a user,how to config it?i'm a little confuse, thanks very very very much!

[2018-01-11 10:09] vigreco commented on #115
Hi @zhaofeihao, you can put any text you want in a qrcode, so it's just a matter of choosing a format suitable for your use case.

I would avoid to put any sensible information in a qrcode though.
You could for example use an unique url with a random generated key that refers to a specific user. (It's just an idea, not really a solid solution)

[code]

[2018-01-12 02:52] zhaofeihao commented on #115
@vigreco thx~

[2018-01-12 02:52] #115 closed

[2018-01-21 14:24] soniurvashi11 opened #116 "QRCode with a URL"
<img width="286" alt="screen shot 2018-01-21 at 7 52 18 pm" src="https://user-images.githubusercontent.com/10581743/35195123-a75916bc-fee4-11e7-9e80-d5c1deb65af3.png">

Is it possible to generate a QR code with the URL on top of it or I need to manually write into my html? Also.. how it will be possible to redirect to the specific URL as soon as user scan the QR code?

[2018-01-21 15:20] vigreco commented on #116
Hi @soniurvashi11, you should use html to add the label. See #113.

Url redirection is not a feature of qr codes (which only contain the text) but belongs to qr code reader applications.
Some apps can automatically open the url if the user has enabled that option, but it's not something you can control through the qr code itself.

[2018-01-24 14:59] #116 closed

[2018-01-24 18:05] mayanb opened #117 "Compatible with react-native?"
Hi! I'm trying to get this to work with react-native - I got it to generate a QR code using:
  await QRCode.toString(pictext, {type: "svg"})
in the iOS simulator, but when I try to run it on my phone it doesn't generate a QR code string?

[2018-01-24 23:26] mayanb commented on #117
It seems like QRCode.toString only works on the iphone using a callback instead of async/await even though it works on the simulator. not sure why?

[2018-01-25 18:19] nerdyman opened #118 "Use crisp edge shape rendering for SVGs"
Hi,

I've noticed that generated SVGs can have blurred edges depending on their size. The `shape-rendering` attribute can prevent this as shown in the example below.

The left image is using default `shape-rendering`, the right is using `shape-rendering="crispEdges"`.

![qr-code-normal-vs-crisp](https://user-images.githubusercontent.com/4908432/35403002-255fbb42-01f6-11e8-982a-bf791469c160.png)

T

[2018-01-29 16:06] ArtworkAD opened #120 "Cannot import QRCode"
Hey,

I am using node v7.9 and typescript. I cannot correctly import the library (I did install the @types):

    import { QRCode } from 'qrcode';

imports just `export interface QRCode`. To get the methods I do:

    import * as QRCode  from 'qrcode';

But

    QRCode.toDataURL("foobar");

is giving me the error: `Expected 2-4 arguments but got 1`, which is not inline with your examples. Event if

[2018-01-29 17:06] soldair commented on #120
we don't maintain typings for this library. It seems a third party does though.
My guess is they are not up to date because we recently released promise support for qr code.

I think you will either have to call the function as you have defined in your typings because you are using typescript or update the type definitions to match this package's interface.

[2018-01-29 18:14] ArtworkAD commented on #120
@soldair thanks, I will update the typings.

[2018-01-29 18:14] #120 closed

[2018-01-30 03:03] roy-yi opened #121 "It doesn't work in IE10 and lower."
If I try `QRCode.toCanvas()` or `QRCode.toDataURL()` in IE 10, there is an error "

" in console.

How can I apply this in ≤IE10? Please help, thx.

[2018-01-30 08:33] roy-yi commented on #121
Hi,
I found something weird.
In `brower.js` Line 28 & 43:
` else if (argsNum === 2 && !canvas.getContext) {
      opts = text
      text = canvas
      canvas = undefined
    }`
Here, my IE 10 will report `can't read property getContext of null or undefined`.
Then, I made this change:
` else if (argsNum === 2 && (!canvas || (canvas && !canvas.getContext))) {
      opts = text
      text = canvas

[2018-01-30 09:35] roy-yi commented on #121
Sorry, I finally found the reason. It was due to there is no window.location.origin in IE 10 & lower. This made the text undefined.

My fault . Sorry.

[2018-01-30 09:35] #121 closed

[2018-02-09 01:10] soldair commented on #121
oh cool. glad you figured it out

[2018-02-09 01:11] soldair commented on #118
oh cool. it does look better. i would ping @vigreco to see what he thinks

[2018-03-04 12:43] SimonFricker opened #122 "Option for svg or png image in center of qr"

[2018-03-06 06:52] sc0Vu opened #123 "Invalid QR code data"
Recently I'd try to create QR code data uri with this library, it did well and the QR code can show on the page.
But when I use my phone to scan the QR code, I always get invalid QR code.
Here is my code:
[code]

Here is data uri:
[code]

Here is QR code:
![1520318790170](https://user-images.githubusercontent.com/10494397/37018060-f437c31c-214d-11e8-965a-00c92549366f.jpg)

Thanks for help:!

[2018-03-06 20:56] soldair commented on #123
this qrcode is definitely valid. worked instantly for me on android.
what scanner are you using can you make other qr codes and scan those?

[2018-03-06 21:01] soldair commented on #122
if you do this in the browser we return the canvas object and you can use the canvas apis to drawImage right in the middle if you like. on the server you can use anyone of the available image editing npm packages to write an image to the center.

if you do make sure you use max error correction.

It's unlikely that we'll add this directly to the qr code library because it wont always generate a sc

[2018-03-06 21:01] #122 closed

[2018-03-12 13:18] sc0Vu commented on #123
@soldair Oh, I used line application to scan qrcode at that time, it's valid when I use another application.
Thanks for reply.

[2018-03-12 13:18] #123 closed

[2018-03-18 00:07] hamzahamidi opened #125 "Aot not compatble"
I 'm trying to use this library in Angular. When I build I get this error
[code]

[2018-03-23 11:40] gitnm opened #126 "ear"

[2018-03-29 09:03] chinesedfan opened #127 "Opposite utf8 colors if the terminal background color is black"
[code]

For example, BLOCK_CHAR.WW is an empty string, which will be black if the terminal background color is black, too.

[2018-04-30 08:00] madeelgulzar opened #128 "Generate qrcode with logo"
Is there any way to create a qrcode with company logo?

[2018-04-30 09:28] MetalWeirdo commented on #128
See #27

[2018-05-04 13:11] ogbiyoyosky commented on #22
Just had the same problem.
solution: I deleted the node_modules,and run `npm install`.
Note: Make sure the package.json is intact.

[2018-05-14 04:48] havinhthai opened #129 "Can we decode QR Code?"
## Version
react: 16.3.1
react-native: 0.55.4
node-qrcode: 1.2.0

## Issue
I'm using React Native and can I decode QR code from dataURL?

I don't see method to do that in documents.

Thank you.

[2018-05-14 04:58] EcutDavid opened #130 "Why `data` cannot be empty string?"
Hey, thanks for contributed this awesome lib!

A question about the parameter `data`,
For what reason it cannot be an empty string?

https://github.com/soldair/node-qrcode/blob/df6434054564bbc0dc9877fae59e4dd0ea5d0444/lib/core/qrcode.js#L479-L481

Thanks!

[2018-05-16 18:37] shamas opened #131 "Circular dependencies are bad"
(!) Circular dependency: node_modules/qrcode/lib/core/version.js -> node_modules/qrcode/lib/core/mode.js -> node_modules/qrcode/lib/core/version.js

Using:
- qrcode@1.2.0
- rollup@0.58.2
- rollup-plugin-commonjs@9.1.3

[2018-05-16 19:28] shamas commented on #131
Resolved in this pull request https://github.com/soldair/node-qrcode/pull/132

[2018-05-19 04:47] lopezdp opened #133 "Sizing the image/png QR code"
How do I adjust the size of the QR code to keep it visible on the screen. The larger the data that needs to be encoded the larger the QR code and right now it is taking up the entire screen and it is unscanable and I do not see a setting to allow me to change the size. I using it in a node application and passing the img data to the front end with AJAX...

[2018-06-21 04:01] zixia commented on #129
+1 for decode support.

It would be sweet if we both support the server and the browser sides.

[2018-06-21 10:02] #118 closed

[2018-06-25 05:06] laughsmile opened #135 "Invalid QR code data by specific data"
Hello

I am using the library to create QR code and work well, but QR code created by the following data can not be recognized:
2018/1/6,21,1,25,212,159,53,1,1,0,36,0,6,4,3,5,10,1.647666667,31.06666667,611.3333333,1568.666667,156.6666667,8,16,7.406666667,,1.793333333,170,190,140,40,220,180,3.8,,,

Here is my code:
`
var content = "2018/1/6,21,1,25,212,159,53,1,1,0,36,0,6,4,3,5,10,1.647666667,31.06

[2018-06-27 04:37] RyanCookeYpb opened #136 "Feature Inquiry"
Hi there.

Great library.
I really like it and will keep using it in other future projects.
I would just like to ask a couple of questions.

My use case requires me to be able to customize the colors of the top left, right and bottom left big main blocks.
If I wanted to be able to pass in three extra options to choose the colors what would the possibility of this?
And if its not possible or the co

[2018-06-29 15:52] abmaonline opened #137 "Accept color codes with only digits from the command line"
When running qrcode from the command line, it is not possible to provide color codes with only digits.

When executing:
`qrcode -d 666 -o out.png "Hello!"`

This error is shown:
`Error: Color should be defined as hex string`

The check for a string seems to be the problem:
https://github.com/soldair/node-qrcode/blob/a3855cabaf37571729af59525c1ad81daee8743b/lib/renderer/utils.js#L1-L4

Since the co

[2018-07-06 07:18] Albert0405 opened #139 "input base64 string to every generated qrcodes"
Could it be possible for each qrcode that i will create, it will also store a base64 string into it? I mean we can  access the string value of a qrcode in "data" how about a base64 string of the qrcode?

What i wanted to achieve is that, if i scan a qrcode, i would also like to display the scanned qrcode in my app especially if the qrcode has a logo in it....

[2018-07-07 19:10] ghost opened #140 "style width, height is in px"
At the moment i'm overriding the values, but it would be much more easier to scale, if you would set the style width and height to 100%.

[code]
In this case the canvas size will be the outer div size. It's simpler. The attribute of width and height can remain what the qrcode module calculates.

vmin (called vm on ie9) means that it will be screen rotation resistant. I didn't even know about this

[2018-07-10 12:46] le4ker opened #141 "Bundle file not found"
Hello,

I want to use the library without using Browserify and according to the documentation the library should exist in a file under a bundle folder, but I can't find it.

Let me know if my understanding was wrong.
If not, then adding the bundle file back to the repo would be great.

Cheers,
:panos

[2018-07-19 20:39] soldair commented on #139
im not sure i quite understand.
in order to scan it the scanner has to take a picture of the code.

[2018-07-19 20:40] #126 closed

[2018-07-19 20:41] soldair commented on #125
I'm not sure. i believe others have used it in angular without an issue. maybe someone will comment. =)

[2018-07-19 20:44] soldair commented on #141
the bundle is never checked in but its published to the npm package. you can download a version tarball unpack it and pull the bundle from the build dir there.

curl https://registry.npmjs.org/qrcode/-/qrcode-1.2.0.tgz

[2018-07-19 20:44] #141 closed

[2018-07-19 20:46] soldair commented on #139
i dont think it would be easy to make a code that only stores itself. :smile:

[2018-07-19 20:47] soldair commented on #136
if you grab a "bit array" you can draw the qrcode yourself with the drawing code or custom drawing code. take a peek its very neatly organized.

[2018-07-20 07:52] hamzahamidi commented on #125
No worries I already solved it.

[2018-07-20 07:52] #125 closed

[2018-07-21 20:42] jappyjan opened #143 "Promise typing is wrong"
error  in /builds/JappyJan/GamePlay-V4/node_modules/qr-code-with-logo/types/index.d.ts

(36,50): Generic type 'Promise<T>' requires 1 type argument(s).

 error  in /builds/JappyJan/GamePlay-V4/node_modules/qr-code-with-logo/types/index.d.ts

(37,48): Generic type 'Promise<T>' requires 1 type argument(s).

[2018-07-23 15:44] soldair commented on #143
this seems to be an issues with the typings file in qr-code-with-logo let me know if you solve it!

[2018-07-23 21:34] jappyjan commented on #143
Needed to use this in production asap, so i've chosen another qr code generator instead.

Maybe I'll have a look at it in the future.

[2018-07-31 09:42] bluepioupiou opened #144 "Impossible to run with parameters out of terminal"
Hi, I'm trying to launch qrcode from an ansible task and it fails systematically (returning the 'how to use').

I think I found the row that cause this.

On row 122 if I change this

`if (process.stdin.isTTY) {`

to this

`if (process.stdin.isTTY || true) {`

I can use qrcode lib from an ansible task.

Is it a bug ? did I miss something ?
Thanks in advance

[2018-07-31 15:46] soldair commented on #144
sounds like a bug because its doing something you dont expect. ill take a look.

[2018-07-31 15:51] soldair commented on #144
what if you pipe the text to qr code?
`echo "my text" | npx qrcode`

[2018-07-31 15:54] soldair commented on #144
i think that the bug is we should still look for text args even if we read from stdin.
especially if its empty

[2018-07-31 16:13] soldair commented on #144
ok published version 1.2.2 should be fixed.

thanks for the report! this will help anyone executing the process outside an interactive terminal

[2018-07-31 16:13] #144 closed

[2018-07-31 18:01] bluepioupiou commented on #144
Yeah ! Quick, complete and efficient. Thanks a lot

[2018-08-01 04:33] mesqueeb opened #146 "[Request] Add a DEMO page."
Other QR code generators in JavaScript have less stars than you, but do have demo pages:
- https://www.nayuki.io/page/qr-code-generator-library
- https://kazuhikoarase.github.io/qrcode-generator/js/demo/

I'd love your page to also have a demo page, so that I can test out if everything works before deciding to implement your library.

Thank you very much!! : )

[2018-08-01 15:35] soldair commented on #146
i do have a demo page in the repo somewhere. thanks for the suggestion.

[2018-08-03 09:31] straysh opened #147 "react-native: Error: Attempted to assign to readonly property."
[code]

project compiled success! But currupted at runtime as follow:
[code]
![image](https://user-images.githubusercontent.com/3816071/43635815-d6e677de-9742-11e8-9c5f-3263d95c9a9e.png)

-------------------------------------------------------------------
after change all `Buffer.slice` to `Buffer.slice2` (just change slice to something else), ALL worked!

-----------------------------------------

[2018-08-03 16:48] soldair commented on #147
interesting

[2018-08-03 16:48] #131 closed

[2018-08-10 02:51] #147 closed

[2018-08-11 12:02] shesek opened #149 "Separating CLI to its own module"
Would a pull request separating the CLI executable to its own package (`qrcode-cli`) be accepted?

I'm asking because I'd like to remove the dependency on `yargs`, which is responsible for ~90% of qrcode's dependencies size (2.26mb of 2.6mb).

[2018-08-12 12:55] benydc opened #150 "QRCode toString SVG is not working"
I have an id in this format: 5b6c953aaa58a3a5d7c0891a which I want to create a QRCode:
[code]
but the svg string shows incorrect image:
<img width="507" alt="screen shot 2018-08-12 at 15 54 43" src="https://user-images.githubusercontent.com/19665791/44002209-0f514232-9e48-11e8-9b43-3bb54d297138.png">

the svg code:
[code]

please help, I need to generate using svg.

[2018-08-12 13:06] benydc commented on #150
Using the global command works, but I need it in the nodejs, any idea why the svg is not correct?

[2018-08-12 13:46] vigreco commented on #150
@benydc the svg code you pasted above seems different from what toString produces.

[code]

The output is a correct svg:
[code]

Did you use some other parameter that may have produced the bug?

[2018-08-12 13:52] benydc commented on #150
@vigreco that's weird..

nope, the only think I used async for the promise.

maybe I need to reinstall the npm package.

[2018-08-12 15:32] benydc commented on #150
Ok, did a reinstall and it's working now.

[2018-08-12 15:32] #150 closed

[2018-08-16 00:43] gabzim commented on #4
I need to generate qr codes of 512x512, how was this solved? there's no info on this

[2018-08-16 00:57] soldair commented on #147
curious what you found out that made you close the issue. maybe something i need to add to docs?

[2018-08-16 01:03] soldair commented on #4
@gabzim
look like you can pass `width` and `height` in `options` if you set the type to be png to any function that makes a png file.

toDataURL toFile toFileStream

this should totally be documented. sorry friend.

https://github.com/soldair/node-qrcode/blob/master/lib/renderer/png.js#L10

[2018-08-16 06:27] gabzim commented on #4
@soldair thanks for the info and speed! much appreciated!

[2018-08-26 03:25] lujjjh commented on #79
This is still not retina-friendly I suppose. The image looks blurry.

https://github.com/soldair/node-qrcode/blob/e60fd6d4cbd999fee2f10eeb5c55fa82cfbfafee/lib/renderer/canvas.js#L6-L10

The `width` and `height` attribute should be `size * window.devicePixelRatio` instead of `size`. BTW, I don't think that `clearCanvas` should overwrite the `style`.

[2018-09-15 11:24] marcobustillo opened #152 "Example code on how to change the height and with in server toDataUrl"
Hello,

How do you re-size the height and width passed in the dataurl? thanks

[2018-09-23 00:25] #152 closed, assigned to nobody

[2018-09-26 17:17] soldair commented on #152
hope you figured it out.

[2018-09-26 17:18] soldair commented on #149
im not super interested in this. its really important to uses to be able to `npx qrcode "im a teapot"`
i am ok with a refactor to another argument parsing library like minimist etc and perhaps with moving the lib code out. i'd have to get feedback from other contributors though

[2018-09-26 17:19] #139 closed

[2018-10-01 15:36] soldair commented on #130
i dont remember =)

[2018-10-01 15:37] soldair commented on #129
i would love to add a decoder.
if anyone is interested in taking this on i'm happy to review

[2018-10-01 15:53] soldair opened #153 "refactor from `new Buffer` to `Buffer.alloc` and `Buffer.from`"

[2018-10-02 01:02] deanrather opened #154 "[Feature Inquiry] Is it possible to create command keys? eg: ALT+CTRL+DEL"
I'd love to use this to automate some of our support operations, removing the need for a keyboard entirely if possible.

But unless I can get the scanner to output the `alt+ctrl+del` key-press, we're still going to need a keyboard...

Is it possible?

[2018-10-02 18:04] soldair commented on #154
this sounds like it would have to be a feature built into your scanner. those key presses don't generate characters so the reader would have to understand how to change some characters into key presses on the reading system.

check out some desktop testing software for whatever operating system you're using.

[2018-10-02 18:04] #154 closed

[2018-10-04 02:15] deanrather commented on #154
Thanks!

[2018-10-04 17:47] steven87vt opened #155 "Invalid Data"
Good afternoon,

I just started using this library today, and am using v 1.3. I noticed it was released 3 days ago so I wanted to bring this up, I am getting an error when using toCanvas. Stepping through the code it seems like the argument list gets shuffled around and the function create (data, options) method is being feed the canvas parameter as data.

Please see the codesandbox link where I r

[2018-10-08 17:36] soldair commented on #155
thanks a lot for the report! ill take a look now

[2018-10-08 17:56] soldair commented on #155
hey i found an un-closed canvas tag in your HelloWorld.vue.
Also i don't think there is any form of toCanvas that doesn't accept a canvas as an argument so the call pattern in the try catch is just the wrong args. should be canvas first.

https://codesandbox.io/s/pm71786900

I think this is working correctly. I'm going to close this for now but please respond with more information if you still fin

[2018-10-08 17:56] #155 closed

[2018-10-08 18:03] steven87vt commented on #155
@Ryan

Yes that was a typo I made when I was messing around with it. I made a
mistake where I had supplied the canvas element as a div, which generates
the Invalid Data. Correcting to a canvas element fixes the issue, so it was
my fault. The other method works fine as well when you provide a callback
to append the canvas to a div.

On Mon, Oct 8, 2018 at 1:57 PM Ryan Day <notifications@github.com>

[2018-10-15 03:39] thankjava commented on #129
I am looking for this now, I think it is necessary as a common component of QR code, I hope you can add it.😄

[2018-10-15 07:42] thankjava commented on #133
I have the same question.

[2018-10-25 22:50] soldair commented on #133
you can reduce the error correction in the code to increase the data you can store but its just not practical to put too much data in a code for exactly the reason you said.
you just cant scan it if it's too big =)

[2018-10-30 09:39] Ks89 opened #156 "Is it possible to choose millimetres for the svg file?"
Is it possibile to save SVGs with millimetres (mm) instead of points/pixels?

[2018-11-01 21:36] emyann opened #157 "Issue With React-Native and `can-promise`"
Hello, thank you for this handy package.

I was able to use it with react-native in the Android Simulator, but I am actually facing an issue on my S8 Galaxy (Android v8.0.0)

[code]

It seems to be coming from the dependency `can-promise` https://github.com/vigreco/can-promise/blob/master/index.js#L7 , Also I don't call renderCanvas in my code, just `QRCode.toString()`

I am not sure how to tackle

[2018-11-02 21:42] soldair commented on #157
sorry didn't mean to close this

[2018-11-05 04:34] jiyu3 opened #158 "Can't change color on QRCode.toDataURL()"
[code]

It does work, but

[code]

It does not work(nothing displayed).

How can I change color of qr code on QRCode.toDataURL() method?

[2018-11-05 14:23] RazorApple opened #159 "Cannot use template litterals."
[code]

Does not seem to pick up the template litterals

[2018-11-05 16:01] RazorApple commented on #159
[code]

Fixed with code above.

[2018-11-05 16:01] #159 closed

[2018-11-05 18:10] soldair commented on #157
published a new version 1.3.1 that shouldn't throw when testing for Promise.
let me know how it goes and reopen if there is another issue. =)

[2018-11-05 18:10] #157 closed

[2018-11-05 19:40] #133 closed

[2018-11-06 03:07] EcutDavid commented on #130
👍

[2018-11-06 03:07] #130 closed

[2018-11-10 08:52] xuqinggang opened #160 "how to implement a color qrcod"
![image](https://user-images.githubusercontent.com/13174560/48299518-ce649f00-e508-11e8-8f0d-c65ea1f50d83.png)
For example, the above picture. Can you give me some examples?

[2018-11-13 07:23] caiyichen opened #161 "How to remove the default padding?"
[code]
[code]
![wx20181113-151950](https://user-images.githubusercontent.com/22057677/48397102-a5861900-e757-11e8-9478-636246cad5bb.png)

Excuse me，how can I remove the default padding?

[2018-11-14 05:12] nightire commented on #161
Use this option: https://github.com/soldair/node-qrcode#margin

[2018-11-14 23:21] soldair commented on #161
yeah great answer @nightire =)

[code]

[2018-11-14 23:25] #161 closed, assigned to nobody

[2018-11-14 23:30] soldair commented on #160
use qrcode.create to make an object with data in it.
https://github.com/soldair/node-qrcode#createtext-options

process the data with something like this to traform the bit array into r,g,b
https://github.com/soldair/node-qrcode/blob/master/lib/renderer/utils.js#L67

and render it with png js maybe like we do here to get it as an image.
https://github.com/soldair/node-qrcode/blob/master/lib/render

[2018-11-14 23:30] #160 closed

[2018-11-14 23:33] soldair commented on #158
looks like we only support hex colors
https://github.com/soldair/node-qrcode/blob/master/lib/renderer/utils.js#L1

have you tried '#1c8b25' for green and nothing for "light"?

[2018-11-14 23:34] soldair commented on #156
i don't know =)

[2018-11-22 12:50] osterland opened #162 "qrcode__WEBPACK_IMPORTED_MODULE_7__.toFile is not a function"
I do get the following error, when ever i try to save my qr as a file:
qrcode__WEBPACK_IMPORTED_MODULE_7__.toFile is not a function

The rest ( toCanvas, .. ) is working as expected. :)

any ideas what i do wrong?

Version:    "qrcode": "^1.3.2",

regards,

Kevin

[2018-11-30 18:14] soldair commented on #162
not sure. it looks like you're using a webpacked version of qrcode on the server but we dont use webpack to bundle this project.

could you be using something like @zeit/ncc to bundle server code?
if you give me a small example of how you're requireing the lib im happy to take a look

[2018-12-12 12:37] Fetz opened #163 "Snyk reporting a vulnerability issue with yargs@8.0.2"
I don't know how much risky or valid this issue for this module, but would be good to upgrade yargs

[2019-01-08 07:46] arjusmoon commented on #129
How to decode or read the QR code data ?

[2019-01-09 00:10] soldair commented on #163
thanks for the heads up.

[2019-01-13 10:52] softmarshmallow opened #164 "SyntaxError: Unexpected identifier"
[code]

Using Flow

[2019-01-15 14:36] MartinMuzatko opened #165 "Maintain a changelog"
Hello!

I'm updating my dependencies - are there any breaking changes between 0.x.x and 1.x.x? Otherwise there wouldn't be a breaking change.

If you don't want the overhead of maintaining a changelog, you should at least document breaking changes and migration paths.

[2019-01-16 17:52] soldair commented on #165
i'll take a look at conventional commits and conventional changelog thanks for the suggestion :smile:

there are no breaking changes to version 1.0. the package has been pretty stable as far as api goes through multiple refactors and its time to promote it from pre-release 0 (where semver doesn't necessarily apply) to 1

[2019-01-16 17:57] #165 closed

[2019-01-16 17:59] soldair commented on #164
this project doesn't use es modules and it looks like its being evaluated in a script in a parse goal that doesn't support them.

it looks like you're compiling this into some kind of cjs bundle. let me know if you figure this out and anything i can do on my side to make it easier for folks in your spot.

[2019-01-16 17:59] #163 closed

[2019-01-16 18:01] soldair commented on #156
svgs by nature are scale-able so they don't have milimeters. they can be shown at any size.
this is why you can only specify points.

[2019-01-16 18:01] #156 closed

[2019-01-17 11:38] Fetz commented on #163
thanks a lot

[2019-01-19 13:15] koder217 opened #168 "Example for writing qr code image to response in express"
[code]

The above code is not working in any browser. Not sure what I am doing wrong. Help?

[2019-02-04 22:46] soldair commented on #168
rather curious. based on the api docs for this function it should work. let me know if you figure it out

[2019-02-05 18:20] soldair commented on #137
this is reasonable i think. not sure how broadening the definition of color would cause an issue here.  happy to accept a pr.

[2019-02-05 18:20] #149 closed

[2019-02-05 18:21] #143 closed

[2019-02-05 18:21] soldair commented on #135
i have no idea what issue you're running into. i'll flag this for reverification

[2019-02-05 18:22] #164 closed

[2019-02-05 18:37] soldair commented on #168
the below example works great. maybe you need to set the correct content type.
[code]

[2019-02-05 18:37] #168 closed

[2019-02-05 18:38] #162 closed

[2019-02-05 18:38] #158 closed

[2019-02-05 18:39] soldair commented on #140
i'm not sure i know exactly what you mean but i would love to see a pr for this when ever you have a moment.

[2019-02-05 18:42] soldair commented on #128
this can draw to a canvas and you can draw on top of it with the canvas api.
it's a little trickier if you are doing it serverside without canvas but you can with pngjs as well.

[2019-02-05 18:42] #128 closed

[2019-02-05 20:51] abmaonline commented on #137
👍 See #169

[2019-02-05 21:09] #137 closed

[2019-02-16 07:43] adamreisnz commented on #161
I've used margin: 0 and there's still a ton of padding. Is margin ignored when using custom width?

[2019-02-19 16:05] dtmzr opened #170 "vCard and QR code demo / example"
Someone asked on a vCard and QR code integration in [this](https://github.com/enesser/vCards-js/issues/35) issue at vcards-js.

I created [a little app example](https://github.com/dtmzr/vCard-app) for this scenario.

Just wanted to hint it out if someone is looking for this kind of solution.

Feel free to use it as demo if you guys are interested and if you want I can add you as a collaborator too

[2019-03-01 23:16] owl-93 opened #171 "Setting border width (quiet zone?) in toDataUrl()"
Is there a way to set the border/quiet zone of generated QR via options using the toDataUrl() function in client side? I'm generating the image as base64 encoded png

for example, I'm trying to accomplish this using an options parameter something like:
[code]

[2019-03-08 17:42] PupRenaud opened #172 "UTF-8 Characters not read with ZBar"
Hello,
UTF-8 characters such as 'é' could not be read with ZBar.
After a lot of work I managed to add UTF-8 BOM before passing the String to node-qrcode and bingo, it is working.

I suggest you add this tweak into your manual to help further developers.

[code]

[2019-03-10 06:29] Ice-Hazymoon opened #173 "Error: Invalid SJIS character: 帅 Make sure your charset is UTF-8"
How to convert character set to utf-8. It doesn't seem to support Chinese very well.

[code]

[code]

[2019-03-11 22:07] soldair commented on #173
Interesting. I;m not very experienced here and would love advice. I'm fairy certain that a huge majority of users of this library use it for Chinese.

I think you should use mode "byte" for this but the auto detection seems to work also. Byte isn't as dense as kanji mode so any improvements to the encoding and associated tests would be really helpful for the project.

`a.toDataURL('帅',console.log)

[2019-03-11 22:07] soldair commented on #173
ill close this but please re-open if ive misunderstood or you have more input.

[2019-03-11 22:07] #173 closed

[2019-03-11 22:13] soldair commented on #172
interesting. so you're getting invalid utf8 as input? nice fix.
i'm not sure how to make this generic.
maybe folks should process input with https://www.npmjs.com/package/utf8? or make a helper to fix the bom.

the format of data you put into the library is generally out of scope it can only encode what you pass.
thanks for the suggestion. if you think of a way to document this  or a reduced test

[2019-03-11 22:13] #172 closed

[2019-03-12 08:37] ternaryCat opened #174 "generate qr without background"
Hi.
Can i create qr code with transparent background  ?

[2019-03-12 13:24] PupRenaud commented on #172
I juste tried your suggestion. It is not working at all.
[code]
I am reading the internet and everybody is very confused about what is encoding. But in fact it is should be a very simple matter. I have been working a lot with filesystems in Java and we share the same logic.
Usually you should be concerned about encoding only when doing byte[] <-> string conversions.
When working inside javascript,

[2019-03-12 16:29] soldair commented on #174
you can specify foreground and background color. if you specify a fully transparent background color that would probably do what you want.

[2019-03-12 16:29] #174 closed

[2019-03-12 16:30] soldair commented on #174
https://github.com/soldair/node-qrcode#example-4

[2019-03-12 16:31] soldair commented on #171
https://github.com/soldair/node-qrcode#renderers-options
i think you want to set margin: 0

[2019-03-12 16:31] #171 closed

[2019-03-12 16:32] #117 closed

[2019-03-12 17:18] Kinark opened #175 "QRCode.toDataURL on react-native asking for canvas"
Maybe this is a duplicate of #75, but I really need the dataURL to save a file and send it by e-mail.

When I call the `toDataURL` in react-native it seems that the lib understands that I'm in a browser environment and calls for a canvas element. So this:

[code]

Throws this error:

[code]

Is there any workaround for this problem?

[2019-03-13 00:39] soldair commented on #172
Seems like you're on track. I am very sure this library should not take on complexity like encoding. Especially if you're in a browser because you can set any encoding you like as a meta tag or header serving the html.

This works for chinese and other encodings without changes so I'm sure there is a better way to approach this.

[2019-03-13 10:15] PupRenaud commented on #172
Hi @soldair , as long as you are "encoding" a String inside a QRCode, you have to assume the "encoder" role ! There is something wrong if your encoding process is locale-dependant which is the case if you don't specify the encoding before turning String into Byte[].
I think the problem is the QRCode standard which don't provide a standard way of providing the decoding hand with a header about whic

[2019-03-13 23:28] soldair commented on #175
so. we worked around this before in that other issue by rendering to an svg instead of a png.
the only choices are you can make your own renderer, use svg, or add a canvas object to react-native.

[code]
hope this helps.

if you have a nice way to test react-native and qrcode its something we might like to make easier to support.

please feel free to reopen this issue if you have any feedback or t

[2019-03-13 23:28] #175 closed

[2019-03-25 06:32] xuliangzhan commented on #129
I hope you can add the API to read qr codes.

[2019-03-25 16:37] owl-93 commented on #171
Thanks yes thats what I was looking for

[2019-03-26 19:09] hashoshi opened #177 "REQUEST FOR INFO: Reader options for Nativescript compatible with Node-qrcode"
I am using the Nativescript QR code reader library and it has an array of options for preferred encoding patterns. Supported types: CODE_128, CODE_39, CODE_93, CODABAR, DATA_MATRIX, EAN_13, EAN_8, ITF, QR_CODE, UPC_A, UPC_E, PDF417, AZTEC.

Which is best (if any) for the QR codes created with this QR code generator library? I am creating the QR's on auto mode, so maybe the safest bet is to use Aut

[2019-03-26 20:33] soldair commented on #177
It's definitely a QR_CODE. it's one of the types you sent.  This library will only make qrcodes.
I have never used the code reader you're using but you probably want to set it to auto if you want to read any other types of codes but if its only qr codes qr_code is likely ok.

[2019-03-26 20:33] #177 closed

[2019-04-03 00:04] kousu opened #178 "Structured Append"
In the QR spec, section 9, "Structured Append" is defined. This is is an extra tag that lets you encode page numbers onto QR codes: the tag consists of {M: 4 bits, N: 4 bits, parity: 8 bits}, where M is the index, N is the total count of codes involved, and parity is an ID tag to identify the group of QR codes (it's also the xor of every byte in the byte payload, for a little bit of extra error-de

[2019-04-09 22:46] soldair commented on #178
wow jsQR is really cool. its been on my list for a long time to make a reader and now we dont have to! =)
I am interested in having this feature added.

[2019-05-16 19:44] niftylettuce opened #179 "Package.json is missing keywords "qr" and "code""
https://github.com/soldair/node-qrcode/blob/master/package.json#L9-L13

[2019-05-16 20:54] soldair commented on #179
these are good things to add. wanna make a pr?

[2019-06-06 08:45] RessenJ opened #181 "Is there a possibility to add text that will be shown below QRcode?"
Hi,

For a specific use case we need to add text below the qrcode.
Is that possible?

Thnx

[2019-06-11 19:01] Craig-Burch opened #182 "Add Image Inside of QRcode?"
I have figured out how to customize colors of a QRcode

let url = await QRCode.toDataURL(new_card.data, {
               color: {
               dark: '#000000',  // black dots
                light: '#ffffff' // white background
            }
        })

Can I add images as well to the QRcode?
Say I wanted to place my companies logo right in the middle of the QRcode...
Thanks!

[2019-06-11 19:16] Craig-Burch commented on #182
I may have to use another package but this may be able to work..
https://ourcodeworld.com/articles/read/419/how-to-merge-an-image-into-a-qr-code-in-javascript

[2019-06-12 19:33] soldair commented on #182
it's pretty easy. you create the canvas object and write an image to coordinates you want
with pngjs i'm not as sure but this doesnt do it for you out of box.

[2019-06-13 16:53] Craig-Burch commented on #182
Thank you @soldair ! I was using the Qart package yesterday and it hasn't been maintained in 2 years! It hurt to use. I will check out pngjs. Thanks again!

[2019-06-13 16:53] #182 closed

[2019-06-13 22:59] niftylettuce commented on #179
Done btw

[2019-06-14 15:09] #179 closed

[2019-06-14 15:12] soldair commented on #181
so this produces and image.
if you you the canvas api to make your qr code you can change the image in any way you like after you make the code.
https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API

[2019-06-14 15:12] #181 closed

[2019-06-14 15:14] #140 closed

[2019-06-14 15:14] #136 closed

[2019-06-14 15:16] soldair commented on #129
https://github.com/cozmo/jsQR looks like a great solution foir this. I'm going to start using it for the tests.

[2019-06-14 15:16] #129 closed

[2019-06-17 06:27] sidharth3 commented on #170
Hey! This link seems invalid presently, could you please check on it? Thank you

[2019-06-17 12:17] dtmzr commented on #170
@sidharth3 sorry, I mixed up this repo and made it private by accident. The link works again! :)

[2019-06-26 01:43] joshnissenbaum opened #183 "Blocking"
Is anyone else having their server blocked while the codes are generating?

[2019-06-26 15:03] soldair commented on #183
\o hey this does do everything in javascript and javascript can only execute in one place per isolate. I would run it in a sub process or a web worker.

[2019-06-26 20:38] soldair commented on #183
also you might get much better performance generating svgs instead of png files

[2019-06-27 20:57] #183 closed

[2019-07-02 18:23] Craig-Burch commented on #170
Hi @dtmzr I have checked out the thread you linked. Cool stuff!! I am wrapping up a project identical to yours it sounds like. I am just using DynamoDB instead of Mongoose. Anyways, wondering if you have any thoughts on being able to compress the qrcode when filling it with a vCard?.. I only have 12 fields or so and the qrcode is turning up just absolutely massive! I am forced to used 'version: 15

[2019-07-02 19:46] dtmzr commented on #170
Hey @Craig-Burch sounds cool!
As far as I know, this isn't caused by the library but the data you're writing to the QR code.
The larger the string you write into the code, the more tiles you'll need which means the file will be bigger.

You may wanna mess around with these little links, it should give you a feel how much the number of tiles can say about the data that's saved in the QR code.
Paste

[2019-07-02 20:48] Craig-Burch commented on #170
@dtmzr Thank you for the response and the links!
#2 makes a lot of sense, I didn't realize how data heavy vCards were until now.
The following finally gave me that light bulb above my head.

http://www.binarynow.com/wordpress/wp-content/uploads/2012/06/SlimPublisher4_qr.png

I, will take a peek at the charset  advice as well!
Thanks Again!

[2019-07-03 12:40] BernhardFuchs opened #184 "Leading Zero is omitted"
**Steps to Reproduce:**
- create a code with a leading zero e.g. 0123 or "0123"

**Actual:**
- the zero is omitted and the output is 123

**Expected:**
- output should be 0123 in both cases

[2019-07-03 21:35] soldair commented on #184
interesting :thinking:  ill check it out

[2019-07-03 22:36] soldair commented on #184
fixed. release in 1.3,.4.
turns out the arguments parser for the cli was coercing arguments to numbers when it could.

[2019-07-03 22:36] #184 closed

[2019-07-03 22:40] soldair commented on #170
just mentioning it here because i'm not sure if this was tried.
error correction level has a huge impact in the number of modules required to render the code.

the lower error correction the smaller the code but also with really low error correction you might not be able to render images in the middle.
[code]

[2019-07-07 12:13] TriMoon opened #185 "utf8 output type doesn't support inverting colors"
Using `qrcode -o qrtest.txt; cat qrtest.txt`

Seems the output type "utf8" is broken, because:
1. It does not change **white** and **black** squares using the `-d` and `-l` options.
I tried to set one to `0000` and other to `ffff` and reverse but no change.
I even used diff to compare the 2 output versions
2. You get inverse output between terminal output and output to text file -> cat to terminal

[2019-07-08 15:20] soldair commented on #185
I would be happy to support inverting the colors.

utf8 doesn't contain color information for the renderer, like ansii escapes do in terminals. Qrcode can't get this "right" for you because the result is just text. The user is expected to render it with the styles they feel like in a document etc.

[2019-07-08 16:03] #185 closed

[2019-07-08 16:04] soldair commented on #185
landed in 1.4.0

[2019-07-08 16:04] soldair commented on #127
added inverted color support in 1.4.0

[2019-07-08 16:04] #127 closed

[2019-07-10 15:24] growtofill opened #186 "Provide renderToDataUrlSync"
Rendering to canvas and exporting the data URL are both sync operations, it would be great to have a sync rendering function exported as well.

Currently, it can be achieved as follows:
[code]

[2019-07-11 16:41] soldair commented on #186
i would love to add this.
would you like to make a pr?

[2019-07-12 08:36] growtofill commented on #186
Yes, I'll take it.

[2019-07-14 16:10] TriMoon commented on #185
Nice, just one problem not sure if its caused by this:
When you use the `-q` or `--qzone` option the ouput is bad...
[code]
Same with `-q 2` or anyother value >1
[code]

[2019-07-14 19:29] soldair commented on #185
You're rather confused here.

You can't view utf8 codes in the terminal
You need to render terminal codes which use escape sequences to draw them correctly. `qrcode hello` to save terminal codes to a file just arrow them in.

[2019-07-15 07:19] TriMoon commented on #185
Viewing the file in a text editor, in my case atom-beta, shows same result...
I know that you can directly display in terminal using the terminal escape codes generated, but what we are talking here is the generated utf-8....which is still imho wrong...

[2019-07-15 07:55] TriMoon commented on #114
It would be much better if there was a method to return a [SVGElement](https://developer.mozilla.org/en-US/docs/Web/API/SVGElement), then the `toString()` could be rewritten to return the [outerHTML](https://developer.mozilla.org/en-US/docs/Web/API/Element/outerHTML)...

[2019-07-15 08:00] TriMoon commented on #185
imho, it's better to revert this change and re-implement using a logic that checks `if fg > bg` to decide characters to use. eg.:
  - `BB` or `WW`
  - `BW` or `WB`

[2019-07-15 15:20] TriMoon commented on #185
Here is a piece of code that i just made to calculate luma of colors, **you** are free to use those functions in your decision flow to decide if you need to invert or not :wink:
Remove the `.txt` extension of the filename and make it executable to be able to run the nodejs code to see the output...
The interesting functions (for you) inside the file are:
  - `getRGBtriplet()` Get the RGB triplet f

[2019-07-17 06:20] superlbr opened #188 "crypto.createDecipher is deprecated"
rt

[2019-07-17 14:02] shilangyu opened #189 "Unwanted console logs"
## What happens
When running this small snippet:
[code]
I am getting a console log of: `text i_am_a_link`

## What im expecting
No console logs, or a way to disable them

[2019-07-17 15:36] soldair commented on #189
this should not be. ill take a look

[2019-07-17 15:40] soldair commented on #189
fixed and published in 1.4.1. thanks for reporting!

[2019-07-17 15:40] #189 closed

[2019-07-17 17:38] soldair commented on #188
any idea where this is used?

[2019-07-17 23:12] superlbr commented on #188
1. nodejs
2. code like this
[code]
3. no impact, just not happy with warnings

[2019-07-17 23:29] soldair commented on #188
thanks. im really curious why using the library would generate these on the server with that code path.  The warnings are a pretty high priority especially the Buffer constructor warnings.

[2019-07-23 20:59] Swinkid opened #190 ".toFile is synchronous"
Is there any reason that the .toFile method doesn't use a asynchronous call? this method seems to be blocking my calls.

[2019-07-23 21:04] #190 closed

[2019-07-24 07:19] debchy commented on #128
This function will create qrcode with a logo at centre.

[code]

[2019-07-29 09:22] thmsnhl opened #191 "Terminal output differs"
I just realised that the terminal output differs significantly when using `QRCode.toString` (from webpack plugin) in comparison to running `npx qrcode test` (directly in the terminal).

**Expected behavior:**
Running `QRCode.toString('test', {}, function (err, string) {if (err) throw err console.log(string)})` leads to the same result as `npx qrcode test`

**Current behavior:**
Running `QRCode.toS

[2019-07-29 22:32] soldair commented on #191
hey. i would really like some help with documentation here =) you're not the first person to run into this and both of you have run into this very recently.

when you run `npx qrcode test` you're using the terminal renderer.
https://github.com/soldair/node-qrcode/blob/master/lib/renderer/terminal.js

this is not the same as toString which outputs utf8 block characters
https://github.com/soldair/no

[2019-07-30 08:15] thmsnhl commented on #191
Hey @soldair thank you for the quick response and for clarifying this!

What I am trying to achieve is to use the terminal renderer to create a QRCode in my Webstorm terminal, so that I can quickly connect my smartphone to my machine.

How am I supposed to use the terminal renderer in this case?

[2019-07-30 08:20] thmsnhl commented on #191
I found the solution by myself, thanks to your answer!
[code]

Works just as expected. I didn't know that `"terminal"` was actually a valid option for `type` I will add this to the documentation, if this is fine for you?

[2019-07-30 09:10] #191 closed

[2019-07-30 15:04] soldair commented on #191
oh good call. ill update the list of types.

[2019-08-05 17:39] leadream opened #192 "Can't build in centos 7, got /bin/ld: cannot find -lusb-1.0"
## Env
CentOS Linux release 7.3.1611 (Core)
Node v8.12.0
Yarn 1.15.2

## Behavior
I got below error when executing `yarn add qrcode`, can't figure it out. Can anyone help me? Thanks!

[code]

[2019-08-05 19:59] soldair commented on #192
it looks like your install is failing on node-hid not qrcode at all.
[code]
node-hid is likely another dependency of your project. yarn is trying to build it every time you trigger a reinstall by installing anything.

maybe check https://www.npmjs.com/package/node-hid for info.

[2019-08-05 19:59] #192 closed

[2019-08-06 03:21] leadream commented on #192
@soldair thanks, solved it.
I ran `yarn why node-hid` and found it's a dependency of [with-redux](https://www.npmjs.com/package/with-redux). Seems like it's being abused. Removing it can solve my problem.

[2019-08-06 05:05] asmyshlyaev177 opened #193 "Sync method for render SVG"
Hello, can you implement sync version of `toString` method for svg?
Because it harder to test and promise in that case does not have any advantages over synchronous version.

[2019-08-13 07:54] akalier170 opened #194 "DataURL is different in NodeJS and ReactJS"
Hello. I use the toDataURL method to get image URL, then I set it as a src for an image in browser. I have my own .js file with this function:

[code]

When I call this function from .jsx file with the string "Hello John Doe.", I get a 2378 characters long URL.

However, when I call exactly the same function from a Node.js file (as a part of a test for example), I get a URL that is only 1338 chara

[2019-08-15 02:02] yu521088 opened #195 "toDataURL get error in Safari (IOS9)"
I get an error on IOS 9, says "Cross-origin image load denied by Cross-Origin Resource Sharing policy."

i checked the code and found that this code in `renderToDataURL` method in `canvas.js` throw an error:
`return canvasEl.toDataURL(type, rendererOpts.quality)`

[2019-08-16 22:52] soldair commented on #195
data urls for image srcs must violate your sites CSP.

either
- change it.
  - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/img-src
- use canvas to display the image directly instead of the uri
  - `QRCode.toCanvas(canvas, 'sample text',......`
- or switch to SVG to display the image.
  - `QRCode.toString(text, {type:'svg'}, [cb(error, string)])`
  - you can ju

[2019-08-16 22:52] #195 closed

[2019-08-16 23:03] soldair commented on #194
a data url is a png. In the browser we generate the url with a canvas tag.  Server side in node.js we use pngjs. It looks like the browser users different quality settings/compression settings and is likely outside of our control.

might i suggest you use svg? `console.log(await QRCode.toString('hello john doe',{type:'svg'}))`
or you can render it directly to a canvas and play around with more eff

[2019-08-16 23:03] #194 closed

[2019-08-16 23:06] soldair commented on #193
i totally support this. I'm not sure what to call the sync version of these methods though and that's really the only blocker.

[2019-08-16 23:07] soldair commented on #193
i would also like to make the methods actually async using worker_threads. The png encoding etc can be moved off the main thread and async would be useful.

[2019-08-23 10:04] sukjae opened #196 "Wrong link at README.md (line 327)"
hello.
I think link should be changed to include hash sign (#) on line 327 of README.md
it keep sending to wrong destination.

### previous
[code]

### should be
[code]

[2019-08-29 21:02] 2u4u opened #198 "How to save QR code image on cloudinary or AWS when deployed on heroku?"
I was using `toFile` to save QR code image on local machine. Now I deployed project on heroku. How can I save image on cloudinary or AWS?

[code]

[2019-09-02 10:02] Skyge opened #199 "How to generate QR code with a logo?"
Can I use this repo to generate a QR code with a logo?

[2019-09-02 12:01] Skyge commented on #199
I find it. See #27

[2019-09-02 12:01] #199 closed

[2019-09-03 14:53] soldair commented on #198
you should be able to use the client documentation for the cloud service you want to use and upload the file you created.

it's possible to avoid creating an actual file altogether and save just the data as a buffer with most cloud apis. if you want to do this you would use method `QRCode.toBuffer('my code',console.log)` it doesn't seem documented which is a  mistake.

[2019-09-03 14:53] #198 closed

[2019-09-04 11:56] JounQin opened #200 "Feature Request: Add a umd format output"
As title, I can create a PR for it if you like.

Additional, it would be greater if this module can be wrote as ES Module or TypeScript.

[2019-09-04 15:20] soldair commented on #200
yeah i use typescript at google pretty much 100% of the time now. Its not a trivial rewrite but its getting closed to needing to be done because of refactor for  Buffer deprecations etc.

I'm interested in how you'ed like to expose umd but in general i expect people to use rollup/webpack themselves which have commonjs support already.

[2019-09-04 15:24] JounQin commented on #200
In some companies, they would prefer CDN bundles for vendor packages.

[2019-09-04 15:42] JounQin commented on #186
@growtofill Any update on it?

[2019-09-04 17:39] soldair commented on #186
this is slightly more complicated because it requires refactoring of how renderers are picked in https://github.com/soldair/node-qrcode/blob/master/lib/server.js#L67

and a sync method would have to be added to supported renderers like https://github.com/soldair/node-qrcode/blob/master/lib/renderer/png.js

this is mostly unwrapping things with unnecessary callbacks.

the only renderer that needed

[2019-09-09 07:18] Heshiyu1996 commented on #116
thanks, @vigreco .
It works well when I set the "text" of qrcode with my redirect url.

[2019-09-09 23:12] JounQin commented on #200
Just realized it did have umd format output. 🤣
https://unpkg.com/browse/qrcode@1.4.1/build/qrcode.js

[2019-09-09 23:12] #200 closed

[2019-09-17 07:03] vicjohnson1213 commented on #146
Pulling this back from the dead.. I've modified the existing clientside demo to be a little more responsive and was wondering if you'd want to add it as an actual demo page?

Here's the demo page: https://vicjohnson1213.github.io/node-qrcode/

At the moment I have my changes on my `gh-pages` branch for publishing, but it could also be kept inside the `/docs` folder of the master branch if that's p

[2019-09-19 01:36] kennedybaird opened #201 "CLI -v tag unexpected behaviour"
Docs suggest that when using the `-v` tag that you'll be able to define the version number of QR Code to be generated.

Readme.md states:

[code]

However CLI returns the following from `qrcode -h`

[code]

Running `qrcode -v 20 -o test.svg 'testcontent'` outputs the version number of the CLI, as opposed to being able to define the QR code of the version (which I would expect, and as the Readme in

[2019-09-19 16:10] soldair commented on #201
oh that's very strange.

it seems this yargs version is intercepting and is not allowing the -v flag to mean anything but the version of the package itself.

qr versions are normally dynamically computed based on the input text size so its not often folks want to specify them i guess =). It's very useful for limiting the text that can be in a qr code and for generating qr codes with always the sam

[2019-09-19 16:13] #201 closed

[2019-09-19 16:15] soldair commented on #201
released in patch as v1.4.2

[2019-09-19 17:20] soldair commented on #146
@vicjohnson1213 im super happy to defer to what you think here.

maybe we can have it in docs and in gh-pages? tbh i've never published anything to github pages so happy to have you tell me how you think it should be done to help folks use this package

[2019-09-19 17:28] soldair commented on #146
ooh and then maybe it can output code for you folks can copy paste from a text area!

[2019-09-20 02:06] kennedybaird commented on #201
Great, that is what I was going to suggest.

However, it doesn't seem to be modifying the output of the QR code, even with the `-qv` tag with different values.

It's the same each time

[2019-09-20 03:00] kennedybaird commented on #201
Ok, so i can't find any examples on the internet of yargs accepting multi-letter options.

In dev environment when I changed the option from `qv` to `G` or `x` AND changed the `parseOptions` function to look for `qversion` it worked.

[2019-09-20 03:11] kennedybaird commented on #201
Actually, seems that `-v` does work, error was in line 30 of `/bin/qrcode`

[2019-09-22 07:19] vicjohnson1213 commented on #146
Since the full clientside example requires the built `qrcode.js` and `qrcode.tosjis.js` files it's probably not the best practice to have them on the master branch. If you want to create a `gh-pages` branch I'll put up a PR to it.

I'll also make a PR to master updating the clientside example to match the `gh-pages` branch.

[2019-09-23 15:25] zacard-orc opened #203 "Hi，How to set background color opactiy/alpha = 0 ?"
Hi，How to set background color opactiy/alpha = 0 ?

[2019-09-23 16:19] soldair commented on #203
if you pass in a light or dark color option rgba as hex may be supported by your chosen renderer.
`#000000ff`
the final pair of hex digits is the opacity

[2019-09-23 16:19] #203 closed

[2019-09-26 17:30] johnenawrocki opened #204 "Can not install QRCode"
Any time I enter npm install I get an Error and the log ends with:
17 verbose cwd C:\
18 verbose Windows_NT 6.1.7601
19 verbose argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "--verbose"
20 verbose node v10.16.3
21 verbose npm  v6.9.0
22 error code EISDIR
23 error errno -4068
24 error syscall read
25 error EISDIR: illegal operat

[2019-10-01 08:14] mqklin commented on #165
@soldair is there still no changes? I want to upgrade to 1.4.2 from 1.4.1

[2019-10-04 18:47] soldair commented on #204
i dont know what you issue is but it doesnt seem to be related to qrcode. would you share a minimal package.json the reproduces the issue?

[2019-10-07 17:58] moorecashflow opened #206 "node.js"
New to coding and I am using wix. I downloaded the qr code node but I am not sure what to do next. Think you help? and what's the pony part?

[2019-10-08 12:09] benallfree opened #207 "Possible encoding bug with binary data"
Thanks for the great library! I think I encountered a bug, or maybe just a point of clarity:

It looks like `QRCode.toFile` expects only `string` data. Likewise, the TypeScript definitions support this. Even a segment expects `string` data.

For my use case, I have a `Buffer` of gzipped data, so it's binary. Converting it using `Buffer.toString()` won't work because it creates additional bytes due

[2019-10-08 17:33] soldair commented on #207
i totally agree. i'm interested in your proposal =)

there are issues depending on the types because of the lack of buffer in the browser and things like that.

[2019-10-08 17:41] soldair commented on #206
i appreciate that you asked for help and that you're new to coding. you have a fun time ahead of you.
In the readme, the pony part is the text you want to put into the qrcode.

if you want to use this program to make qrcode image files or text files like svg to show on a website you should do that. If you want to use it in the browser someone recently contributed an updated example page https://vi

[2019-10-08 17:41] #206 closed

[2019-10-08 17:43] moorecashflow commented on #206
Okay thank you

[2019-10-08 17:44] benallfree commented on #207
Awesome. I think I want to reach out to whoever maintains @types/qrcode as well because I'm using TypeScript and it drove me crazy because it wouldn't accept a Buffer in type checking. I had to go through your code to make sure a Buffer would actually work (`Buffer.from(someBuffer)` does work) first.

What about the `Uint8ClampedArray` you're using elsewhere? It's easy enough to get from a `Buffer

[2019-10-08 17:47] soldair commented on #207
i use typescript daily and im afraid of manually authoered types in general.
At some point i'd accept a rewrite of qrcode in ts just to not have users go through that.

for now i'd any it up or require it and type the interface you use in your app even though it's ugly.

[2019-10-08 17:50] soldair commented on #207
well thinking more. we cant just transparently support binary data because its a special type in qr code world. it makes a different type of qrcode code that holds less data.
stil,l interested in where you end up tho

[2019-10-08 17:54] benallfree commented on #207
A ts rewrite sounds like deep water...

So come to think of it, since `core/byte-data.js` uses `Buffer`, how would BYTE segments even work in the browser?

Let me know where you think is the best place to begin. For now maybe just a readme clarification that passing a buffer or clamped array to a byte segment will work?

[2019-10-08 17:56] soldair commented on #207
i like this. at least your hard won work around will be put to good use for other folks

[2019-10-08 18:13] benallfree commented on #207
If generating QRs in the browser is a priority, maybe https://github.com/feross/buffer is needed? Am  I correct that anything in your lib using  `Buffer` will fail in the browser?

#208 while it's fresh in my mind :)

[2019-10-08 19:44] #207 closed

[2019-10-08 19:45] soldair commented on #207
its not correct. because we have a buffer polyfill that predates feross' one.
we have a big problem because in some cases its used server side nad its created a big issue removing calls to `new Buffer`

[2019-10-10 07:53] camouflax opened #209 "embedded image and jpg"
Hi,
Do you see an opportunity to realize QR-Codes with embedded graphics? And, if possible, QR-Codes as jpg?

Thanks.

[2019-10-10 16:31] soldair commented on #209
you can use the browser version and write into the image with a canvas tag

[2019-10-10 16:31] #209 closed

[2019-10-16 02:19] EdwinChua opened #210 "Problem with documentation (renderer options)"
There may be a slight mistake with the options.

Instead of:
[code]

It should be:
[code]

[2019-10-18 08:25] taoqf commented on #209
Will server version do?

[2019-10-18 09:38] taoqf commented on #182
Is it able to add image to the center of the qrcode, even with qartjs?

[2019-10-18 13:18] Craig-Burch commented on #182
Qart isn't maintained nowadays I would tread carefully there.
i used a canvas to add an image onto my qrcodes.

    <img
     id="logoBlack"
     src="img/iconBlack.png"
     style="display: none;"

    <canvas
      id="QRcanvas"
      width="400"
      height="400"
      style="display: none;">
    </canvas>

 async createQRblack() {
      //grab data you want on qrcode here
       try {

[2019-10-19 08:00] shuliangfu opened #212 "add a logo picture"
Hello, how can I add a logo picture in the middle of the QR code?

[2019-10-21 01:42] taoqf commented on #182
@Craig-Burch Thanks, I should try.

[2019-10-21 01:46] EdwinChua commented on #212
This library does not provide a way to do that. You can either:

- use CSS to position the image over the QR code image

Or

- draw both images on the same canvas with JS

See https://www.edwinchua.tech/qrcodegen/ for a demo

[2019-10-21 06:07] taoqf commented on #182
Thank you very much. I did it on server side, below is my code.

[code]

[2019-10-21 13:05] Craig-Burch commented on #182
awesome @taoqf  ! Looks great, well done!

[2019-10-22 18:28] soldair commented on #212
i'll happily accept a pr that does this for you even just in the browser version.
like pass an image and a canvas and it just puts it in the middle.

its like a top recurring issue and after my recent visit to china i see that qrcodes are used with images almost exclusively.

[2019-10-22 18:47] soldair commented on #210
this might present compatibility problems between renderers or block upgrades in the future but documenting things as they are is important.

[2019-10-23 12:06] bitttttten opened #213 "Calculate the grid size"
Is there a way to find out how many rows and columns it has been generated with?

I wanted to hide some of the middle squares to make a little pattern, like removing 10 squares from the middle in a certain way, and it would be easy to do if I knew how many rows and columns are present so then I would know the size of the grid :)

[2019-10-23 17:20] soldair commented on #213
the number of modules i determined by the amount of data you put into the qrcode.
the default is we auto pick a "qrcode version" based on your encoding type and the number of bytes you want to encode.

you may find this is easier to do with just image manipulation in canvas rather that changing the "modules" squares.

https://github.com/soldair/node-qrcode#qr-code-capacity

if you want a code to b

[2019-10-23 17:20] #213 closed

[2019-10-31 07:29] #210 closed

[2019-11-05 07:06] anuj9196 opened #215 "ReferenceError: Buffer is not defined"
I'm trying to get it to work in **Angular 8**.

In the `component.ts` file
[code]

But this is giving an error:

[code]

[2019-11-05 12:21] lyxia commented on #215
+1

[2019-11-05 16:01] soldair commented on #215
thanks I just released a version yesterday that probably introduced this.
ill take a look now

[2019-11-06 05:58] anuj9196 commented on #215
@soldair Thanks. It's working now.

[2019-11-06 05:58] #215 closed

[2019-11-11 02:24] MunMunMiao opened #217 "ReferenceError: global is not defined"
example
[code]
console
[code]

Angular: 8
node-qrcode: 1.4.4

[2019-11-11 14:38] MatissJanis commented on #217
Experiencing the same issue. Downgrading to v1.4.3 solved it for me.

[2019-11-12 12:46] Roen00 commented on #217
I faced the same issue.
This is probably related to this change:
https://github.com/soldair/node-qrcode/commit/6058f49c896f2951c1920a32b36e75a63be099cd#diff-5ad6b95c7f35b51922edb67db4c2f400R3
As a temporary workaround I added this to my index.html:
[code]

[2019-11-13 21:20] soldair commented on #217
thanks for the report. ill land a patch to fix this now.

[2019-11-13 21:39] soldair commented on #217
https://github.com/feross/buffer/blob/master/index.js doesn't contain the line that errored.

I changed the require such that Buffer will always use the universally compatible version instead of node's and im interested in seeing what happens.

HELP: would someone mind sharing a webpack config  they use with qrcode so i can add a pre-publish integration test.

[2019-11-13 21:40] soldair commented on #217
can folks test on master because i don't have a reproduction of the issue.
if not ill land this as  1.4.5 and hope for the best

[2019-11-15 03:02] MunMunMiao commented on #217
@soldair i want test it ,but i can not install node-gyp😓, now i used 1.4.2, it's working in angular8

[2019-11-16 02:38] choopage opened #218 "Thank you for maintaining this package!"
Just wanna shout out to you for maintaining this awesome package. Thank You 👍

[2019-11-18 16:34] soldair commented on #218
thank you! :heart:

[2019-11-18 16:34] #218 closed

[2019-12-13 13:18] mnahkies commented on #217
I investigated this in relation to using with Angular applications here:
https://github.com/mnahkies/ng-qrcode/issues/2#issuecomment-563414305

tldr; with respect to Angular applications this appears to be caused by `@angular-devkit/build-angular` depending on a older version of `webpack`, and workaround will be required until this is no longer the case.

`qrcode` itself depends on a fixed version

[2019-12-13 14:29] soldair commented on #217
Thanks so much. I'll take a look at this and see if I can come up with something

[2020-01-29 12:51] davidknoll commented on #215
@soldair I've just found this issue and I'm experiencing it or something similar on 1.2.2, 1.3.4, 1.4.0-1.4.4, and master at eb2d499. I'm using AngularJS 1.5.8, with qrcode in the frontend/browser, and the error appears in the browser debug console. On some versions of qrcode the root component of my app won't instantiate, on some it only triggers once I try to use it.

[2020-02-10 05:21] theshohidul opened #219 "Error: EMFILE: too many open files, open 'qr-codes/4083.png'"
While i am trying to generate 10000 .png qrcode, getting this error. How i can handle this?

[2020-02-11 17:07] bobspace opened #220 "SVG isn't really scalable"
Looking at the SVG output produced by the `toString` method in my browser, the markup is a bunch of `path` segments rather than `rect`s, so when you try to actually scale it it turns into a bunch of skinny lines far apart from one another instead of a bigger version of the same QR code.

Rendering in `rect`s would be more verbose, but would be massively more useful and actually scale.

Here's an e

[2020-02-12 02:16] brunodsfelix opened #221 "Generate QRCode Stencil"
Hello,

I want generate qr code for stencil but the package not support this. Can you develop this or have  alternative?

Sorry, my english is very bad...

[2020-02-13 22:30] soldair commented on #220
hey i would totally be ok with switching to rects. this was a contribution to begin with and im happy to accept another if you're willing.

[2020-02-13 22:31] soldair commented on #219
you'll probably have to make sure the files are closed or finish writing before writing another.

[2020-02-13 22:31] #219 closed

[2020-02-13 22:32] soldair commented on #221
is stencil some kind of software? no idea what you mean. you can make images, svgs, or write to a canvas.

[2020-02-14 00:56] bobspace commented on #220
That sounds fun! I'll take a crack at it.

[2020-02-16 14:20] #221 closed

[2020-02-16 17:49] shakesBeardZ opened #222 "Emoji Encoding"
How to achieve emojis encoding in this library, I tried encoding a text with emoji in it, but when I scan it gives "????", is there any specific way to achieve it since it's mentioned in the docs?

[2020-02-18 16:57] soldair commented on #222
you should probably encode the qrcode in binary mode https://github.com/soldair/node-qrcode#binary-data

[2020-02-18 16:57] #222 closed

[2020-02-24 14:32] rogeriojlle opened #223 "Fatal Error on function toCanvas"
Steps to reproduce:
`Welcome to Node.js v13.6.0.
Type ".help" for more information.

undefined

undefined

undefined

<--- Last few GCs --->

[6725:0x6290940]    86708 ms: Mark-sweep 3.6 (6.2) -> 3.6 (6.0) MB, 2.6 / 0.0 ms  (average mu = 1.000, current mu = 0.012) external memory pressure GC in old space requested
[6725:0x6290940]    86710 ms: Mark-sweep 3.6 (6.0) -> 3.4 (6.0) MB, 2.0 / 0.0 ms  (a

[2020-02-24 16:23] rad2018x opened #224 "Scaling not working at CLI level"
Trying to do this:

qrcode -s 50 "text"

Give a large QR code.  Want 50% scaled.

[2020-02-24 16:27] rad2018x commented on #224
Nevermind. Will do 50% scaling via HTML or JavaScript. Closing issue.

[2020-02-24 16:27] #224 closed

[2020-02-24 20:54] soldair commented on #223
it may be that your canvas was compiled with another node.js version or the native module canvas that i depend on doesn't support version 13 yet.
try `npm rebuild` and run the file again?

Right now this package only depends on canvas as a development dependency. There is no reason why you should hit this as a consumer of the library unless you are using server side canvas independently of qrcode.

[2020-02-24 20:54] #223 closed

[2020-03-10 12:17] Digitum opened #225 "typescript build error 'Cannot find name 'HTMLCanvasElement'' on node serverside"
Qrcode version: 1.4.4
Environment: Docker node:12
Using @types/qrcode

Code:
[code]

Package file dependencies:
[code]

Tsconfig compilerOptions:
[code]
Get several errors like:
[code]
when run `tsc`

Does not know if this is a issue in `@types/qrcode` or in `qrcode` package.
Temporary solution, but not optimal, is to add following to compilerOptions: `"skipLibCheck": true`

Can this be solved by

[2020-03-25 01:40] ch250001757 commented on #45
can add a logo in the middle

[2020-03-31 13:14] DemonCloud opened #227 "not support browser IE9 IE10, do not use [Object.setPrototypeOf]"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf

why use this api..

[2020-04-02 07:48] DemonCloud commented on #227
@soldair
the browser complete source in  qrcode/build/qrcode.min.js
use with Object.setPrototypeOf API, it only supports IE11,  but as you know,  IE9 support canvas right?

[2020-04-03 08:21] KingAmo commented on #175
if there is a `api` like `QRCode.toBase64()`, then we can use it in React Native like this:
[code]

[2020-04-03 08:34] KingAmo commented on #175
in fact i found https://www.npmjs.com/package/qrcode-generator 's `createDataURL` return a `base64` string that is exactly we need in `react-native`

[2020-04-05 10:11] Inori-Lover opened #229 "[question] why canvs in dependencies but not devDependencies ?"
i have search source code and only two place found this package: `examples\clientsideserver.js` and `test`. even i am a nodejs backend developer, i don not need this also

when i install qrcode it always need me install node-canvas too, but that package is not easy for window user to insall.

[2020-04-06 22:12] #229 closed

[2020-04-08 19:55] drepram commented on #159
Thank you so much for your comment.

For some reason it caused an error for my QR code that says `No usable data found`, your comment seems to be the only one who was able to fix my issue. I replaced my string literals in my `.toFile` syntax into good old string concatenation and it worked.

Once again, thank you so much.

[2020-04-15 21:00] soldair commented on #159
template literals work based on the v8 version in the version of nodejs you're using. make sure to use node 10 or 12 =)

[2020-04-15 21:04] soldair commented on #225
this would be in the @types/qrcode package. this library supports both browsers and servers so i can see why they would find it tricky.

you should probably declare a new global type just to get compilation to work  or include browser typings but that might cause more trouble than it's worth in the developer experience.

reopen if you feel i could answer this a bit better

[2020-04-15 21:04] #225 closed

[2020-04-15 21:10] soldair commented on #227
I'm not sure which module is using this.
I'm happy to take a look if you provide a stack trace but i cant promise to be able to fix it.

In general would recommend using babel / webpack /etc to downlevel your javascript bundle to run in each browser you want to target. that way you can consume any library without worrying about new apis

feel free to reopen if you have more to add.

[2020-04-15 21:10] #227 closed

[2020-04-15 21:11] soldair commented on #229
yeah it should only require you to install it if you run npm install in the project itself now.

[2020-04-17 09:40] DemonCloud commented on #227
@soldair
build production qrcode.min.js path:  `node_modules/qrcode/build/qrcode.min.js`

the `qrcode.min.js` exist `Object.setPrototypeOf` API, this API is not work in IE9 IE10, will expect error.

you would try to replace this API for building scripts.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf

[2020-04-17 09:42] DemonCloud commented on #227
@soldair
in normally, webpack build production will not do compress with `node_modules`, sometimes

[2020-04-18 10:22] LinusU commented on #153
This was fixed in #214 ☺️

[2020-05-04 15:15] plewand opened #230 "Yarn audit reports vulnerability in yargs-parser dependency"
node-qrcode version: 1.4.4
Running yarn audit reports the problem below:
[code]
Please upgrade yargs to include yargs-parser without the vulnerability.

[2020-05-04 15:26] soldair commented on #230
happy to take a pr

[2020-05-04 15:26] #230 closed

[2020-05-07 19:45] rhengles opened #231 "Error using Uint8Array: input.charCodeAt is not a function"
When using a Uint8Array object to create my qrcode:
[code]

The library fails with the error below.
[code]
I traced the error to the function below
[code]
When I change it according to the code below, it works:
[code]

[2020-05-14 13:03] Jorundur commented on #175
@soldair I second this - it would be great to get something similar to `toBase64()` like @KingAmo mentioned above. Using https://www.npmjs.com/package/qrcode-generator is a good idea but unfortunately it lacks a lot of other features that `node-qrcode` has, e.g. changing the colors and more.

[2020-05-15 13:44] soldair commented on #175
Base 64 encoding is built into nodes Buffer. It might be tricky to port in a cross runtime way though. Once you have a png you just say toString('base64') and put data:image/png, before it

[2020-05-22 08:58] euvtjain opened #232 "Cannot resize QrCode generated in UTF8 format"
I am generating QRcode in UTF8 format & using that in plain TXT file. My requirement is to resize the generated QRcode in 150x150 px.

` qrCode = await QRCode.toString(data);`

where the data is a simple JSON object.

Is it possible to do so in case of the UTF8 format because my limitation is to generate QrCode in Text File? Please help me out

[2020-05-30 04:30] twf-nikhila commented on #212
Is this feature available? It will be exciting to see this working

[2020-05-30 04:36] twf-nikhila commented on #170
@Craig-Burch how did you added the logo in the middle of qr code?

[2020-05-31 02:35] Craig-Burch commented on #170
@twf-nikhila I will double check tomorrow and get back to you

[2020-05-31 20:00] Craig-Burch commented on #170
@twf-nikhila

   <img
     id="logoRed"
     src="img/iconRed.png"
     style="display: none;"

    <canvas
      id="QRcanvas"
      width="400"
      height="400"
      style="display: none;">
    </canvas>

part of js function to write to canvas

            var canvas = document.getElementById("QRcanvas");
            var ctx = canvas.getContext("2d");
            var img = document.getElement

[2020-06-11 15:21] germapat commented on #212
Hello @EdwinChua, please share the code for this example: https://www.edwinchua.tech/qrcodegen/ for a demo.

Thank u so munch

[2020-06-12 01:19] EdwinChua commented on #212
@germapat this example is in typescript.

The function you will need to check out is `ngOnChanges()`. Hope this helps you out. :)

[code]

[2020-06-13 22:59] plumpNation commented on #215
If anyone is coming here from a rollup project, https://www.npmjs.com/package/rollup-plugin-node-builtins

[2020-06-15 16:00] shuliangfu commented on #212
thanks

[2020-06-15 16:01] #212 closed

[2020-06-16 11:34] PrincessRTFM opened #234 "CLI-generated QR codes cannot be piped to other applications in a meaningful format"
A few very closely related things that I just found through some experimentation with version 1.4.4, installed globally via NPM:

- The default output format is actually ANSI terminal formatting escape strings, which I can't find mention of in the help screen or docs - I had expected it to default to utf8, so imagine my surprise when I got about ten thousand bytes of output for a v3 code, and none

[2020-06-17 08:38] artfulsage opened #235 "Invalid coding on some text"
Hello. I have encountered a bug on some texts which differ in just a single character.

**Decoded correctly**  `qrcode "ST0011|пр. Первомайский"`

![correct](https://user-images.githubusercontent.com/35620830/84874963-042b1b80-b08e-11ea-9e40-7899c4e0cd80.PNG)

**Decoded incorrectly**  `qrcode "ST00011|пр. Первомайский"` -> `ST00011|РїСЂ. РџРµСЂРІРѕРјР°Р№СЃРєРёР№`

![incorrect](https://user-images.

[2020-06-17 13:33] artfulsage commented on #235
Just the same as here https://github.com/kazuhikoarase/qrcode-generator/issues/90

[2020-06-17 16:55] artfulsage commented on #235
It seems that the problem is with using scanner but not with this library. Another one decodes both codes correctly. Please excuse for troubling. You can close this issue.

[2020-06-25 10:33] kungufli opened #236 "Use ECMAScript modules instead of CommonJS modules"
Is there any chance this library to be convert to ECMAScript modules? This will allow for a greater bundle size optimization at build time for apps that uses webpack or similar minifiers (https://web.dev/commonjs-larger-bundles/).

[2020-06-26 06:24] #235 closed

[2020-06-29 16:36] ton77v opened #237 "Is it possible to set a shape?"
Can't find anything about it in the documentation, is it possible to change the shape? To generate something like this for example: [https://www.unitag.io/images/generator/templates/twitter.png](url)

[2020-07-03 07:58] chenlang0311 opened #238 "package.json's main need to the 'build/qrcode.min.js'"
package.json's main need to the 'build/qrcode.min.js'

[2020-07-13 12:16] sclavijo93 opened #239 "Apply styling"
Hi, I've searched for this question but I didn't find anything among the issues.

I'm wondering if there is any way to apply styles to the QR? Thanks in advance

[2020-07-24 12:07] mroderick commented on #236
... or consider using a better bundler, or not sending so much JS to the client to begin with.

[2020-08-02 21:01] zatkniz opened #240 "Add image in the center"
Hello, amazing plugin. Is it possible to add small image in the center of the qr code?

[2020-08-08 01:28] flamebeard commented on #240
Yup I'm looking for the same thing

[2020-08-10 12:39] leon commented on #236
Yes please update to use modern bundling
in our angular app I'm getting this warning.

[code]

[2020-08-10 14:00] mroderick commented on #236
@leon that's really a problem on your end, a limitation with your bundler. (And the example used by the author of the linked article).

You can [configure your build to allow certain dependencies to be CommonJS](https://angular.io/guide/build#configuring-commonjs-dependencies), this will remove the warning.

... or you could try an upcoming bundler, which converts everything to ESM: https://github

[2020-08-11 19:43] artemkrynkin commented on #237
same question

[2020-08-13 04:46] SystemR commented on #240
Once you have the instance of the canvas you can easily draw an image at the center. Something like
[code]
Note that the size of the image can't be too big such that it nullifies error correction. I've found 50x50 logo can still work with M error correction level on the 200x200 area. But you should do Q or H to be safe.

[2020-08-13 12:02] artemkrynkin commented on #237
found a solution

use [create(text, [options])](https://github.com/soldair/node-qrcode#createtext-options) function and your own svg rendering for qr, there you can change color, place logo neatly or make rounded squares

example:
<img width="337" alt="Снимок экрана 2020-08-13 в 15 01 53" src="https://user-images.githubusercontent.com/6913231/90132140-f1735100-dd75-11ea-99a8-f75c1080d2e7.png">

[2020-08-14 03:29] FrankFan commented on #113
how about this  ? https://github.com/soldair/node-qrcode/pull/233

[2020-08-17 10:57] basevers commented on #240
Yea, that would be cool if there is native support for embedding a center image not only for websites but also when creating image files

[2020-08-25 17:56] primecodecom commented on #239
Using [c++](https://github.com/nayuki/QR-Code-generator/tree/master/cpp) implementation of library, I made some changes.
[Updated library is here
](https://www.npmjs.com/package/@primecode/async-qrcode)
1. Update the code to work with AsynWorker, so the code could execute in different thread and build it to node js addon.
2. Added 3 different type of style dots
 <img src="https://github.com/primec

[2020-08-25 17:58] primecodecom commented on #237
Using [c++](https://github.com/nayuki/QR-Code-generator/tree/master/cpp) implementation of library, I made some changes.
[Updated library is here
](https://www.npmjs.com/package/@primecode/async-qrcode)
1. Update the code to work with AsynWorker, so the code could execute in different thread and build it to node js addon.
2. Added 3 different type of style dots
 <img src="https://github.com/primec

[2020-08-26 15:09] ton77v commented on #237
Thanks, can you please share some code how you make it rounded?

[2020-08-31 20:16] ZackeryBayle opened #242 "_qrcode2.default.toFile is not a function"
Heres what im doing

`QRCode.toFile('./'+ value.data.png,value.data),function (error) { if (error) console.error(error)}`

Not sure what this isn't working. I've tried replacing my vars with strings same error.

[2020-09-04 02:47] HeckCas commented on #242
Same Here! Sorta

![image](https://user-images.githubusercontent.com/7217031/92193829-e79db480-ee2e-11ea-89e7-1b02ffcdcfb5.png)

Importing like this:

![image](https://user-images.githubusercontent.com/7217031/92193865-fbe1b180-ee2e-11ea-8fa2-e1b04323fb0b.png)

and using:

![image](https://user-images.githubusercontent.com/7217031/92193920-12880880-ee2f-11ea-8fd0-910d80cb6d6e.png)

[2020-09-06 19:27] rapropos commented on #242
At least one of y'all seems to be trying to use this in a browser environment, and I would be pretty surprised if that were possible.

[2020-09-11 03:25] JohnGriffithLondon opened #243 "Can this library generate a barcode?"
Can this library generate a barcode?

[2020-09-25 23:58] janbiasi commented on #217
Any update @soldair ?

[2020-09-29 07:07] Alanscut commented on #243
it can't, https://github.com/lindell/JsBarcode could generate a barcode

[2020-10-01 12:20] kklark commented on #237
Could you share how you made the rounded shape?

[2020-10-23 14:36] captDaylight opened #245 "Primordials is not defined"
I'm getting this error when I run `npm i node-qrcode` (node v12.18.0)

[code]

[2020-10-23 14:43] captDaylight commented on #245
Turns out it should have been `npm i qrcode` instead.

[2020-10-23 14:43] #245 closed

[2020-10-28 18:38] acagastya opened #246 "[Q] QR code as a 2D array"
In the QR code's photo, some pixels are black (the set pixels) some are not. Is there an API, or a way which gives me a 2D-array of Booleans -- which pixels are set, which are not set?

[2020-10-28 20:48] soldair commented on #246
yeah there is. i believe its getPixelArray or some such. should be in the docs

[2020-10-28 20:56] soldair commented on #246
[code]
and data is used like
[code]

you can see more examples in lib/renderers

[2020-10-28 20:57] #243 closed

[2020-10-28 20:58] soldair commented on #242
it should work in a browser but not creating files

in a browser use canvas, svg, or just create the code and render how you feel like

[2020-10-28 20:58] frudolph77 commented on #220
Hello
i've a solution for this, at least there are two.

@bobspace  At first one question: Where and how do you scale the svg?
e.g. When scaling in Inkscape you should enable the 'Scale Stroke Width' option

Possible solutions:
1. The svg should also accept the scale option, just in the same way as the width option, it will scale up very well.
2. Draw a closed rectangle instead of only lines and u

[2020-10-28 21:09] soldair commented on #240
I'm not against it, someone has to do the work to add it as an option to whichever renderers they like. canvas being the easiest followed by svg probably

[2020-10-29 11:31] acagastya commented on #246
`qr.modules.data` works like a charm.  Thanks, @soldair.  I will have to convert it to a 2D array though.

[2020-10-29 11:31] #246 closed

[2020-11-15 18:13] DYW972 commented on #239
Thank your for your work @primecodecom  ! 👏

This is one is particularly lit !

But can you be more specific for this comment _"// The QR Code can tolerate about 15% erroneous codewords"_ in your export types variable at` index.d.ts` ?

[code]
What about performance and security ?

Any suggestions appreciate !

Best regards

[2020-11-20 06:45] amarjeet045 opened #248 "Generate qrcode with logo in the middle of the qr code"
I am trying to create a qr code with logo in the middle and i have used one of the code given for the same type of question and i am using nodejs only and it gives an error

here is the tried code can anybody try to help with this code

const QRCode = require("qrcode");

const getQRcodeImage = async () => {
  try {
    let canvas = await QRCode.toCanvas(`my sample text`);

    //adding a log at ce

[2020-11-20 10:38] amarjeet045 commented on #182
@taoqf  when i have used your code it doesn't work properly can you suggest any solution here is the image of the rendered qr code with image on the center
![Screenshot from 2020-11-20 16-06-42](https://user-images.githubusercontent.com/33446077/99790752-8ee6d980-2b4a-11eb-959c-3a616c0c6c1d.png)

and here i am trying to pass in the function

create_qrcode(
  "http://shauryamuttreja.com/qr/id=12345

[2020-11-21 01:44] SayWhat69 commented on #237
Could we have a code example please? I'm also struggling with this.

[2020-11-21 04:56] amarjeet045 commented on #248
const QRCode = require("qrcode");
const { createCanvas, loadImage } = require("canvas");
async function create(dataForQRcode, center_image, width, cwidth) {
  const canvas = createCanvas(width, width);
  QRCode.toCanvas(canvas, dataForQRcode, {
    errorCorrectionLevel: "H",
    margin: 1,
    color: {
      dark: "#000000",
      light: "#ffffff",
    },
  });

  const ctx = canvas.getContext("2d

[2020-11-21 04:56] #248 closed

[2020-11-21 13:18] taoqf commented on #182
@amarjeet045 You should fetch the image first, then draw it.

[2020-11-21 14:47] amarjeet045 commented on #182
I have made the image in the middle of the qr code but it doesn't show proper on mobile i have used svg and png images as logo but it doesn't show properly.

[2020-11-24 22:03] Kaspanoombro opened #249 "Image image generated"
Hello,

I am using this code:
... toDataURL('A:123456789*B:999999990*C:PT*D:FT*E:N*F:20191231*G:FT AB2019/0035*H:CSDF7T5H0035*I1:PT*I2:12000.00*I3:15000.00*I4:900.00*I5:50000.00*I6:6500.00*I7:80000.00*I8:18400.00*J1:PTAC*J2:10000.00*J3:25000.56*J4:1000.02*J5:75000.00*J6:6750.00*J7:100000.00*J8:18000.00*K1:PTMA*K2:5000.00*K3:12500.00*K4:625.00*K5:25000.00*K6:3000.00*K7:40000.00*K8:8800.00*L:100.00*

[2020-11-24 22:04] Kaspanoombro commented on #249
I am using the version 1.4.4.

[2020-11-25 05:34] amarjeet045 opened #250 "when i am zoom the qr code middle image goes blur"
I am trying to create a QR code with an image in the middle and the image is getting blur and we want to print the QR code in a4 size paper with logo in the middle. here is the tried code

const QRCode = require("qrcode");
const { createCanvas, loadImage } = require("canvas");
async function create(dataForQRcode, center_image, width, cwidth) {
  const canvas = createCanvas(width, width);
  QRCode.

[2020-11-25 07:10] #250 closed

[2020-11-27 09:41] DanielRuf opened #251 "Failing CI"
It seems on the latest version of node the canvas dependency fails to build.
See https://travis-ci.org/github/soldair/node-qrcode/jobs/739736217

Would be good to have it running on the latest node version.

[2020-11-28 12:00] ibrahimBeladi commented on #240
@soldair, it would not harm to label this issue as `help-needed` or something similar to point it to other developers.

[2020-12-11 16:17] blown-capacitor opened #252 "Snyk reporting a High Severity vulnerability issue with y18n (subdependancy of yargs)"
Snyk is reporting an issue on the version of y18n used by yargs@^15.3.1, not sure on the impact to your codebase but this was flagged by our codebases reporting.

Updating to yargs@^16 will resolve this.

[More info](https://snyk.io/vuln/SNYK-JS-Y18N-1021887)

[2020-12-14 19:08] taeh98 opened #253 "Include codes of higher capacities"
It would be good to include the ability to generate codes of capacities (and densities) higher than QR codes. These include:

- CQR Code-9 codes: https://ieeexplore.ieee.org/document/7813051
- HiQ codes: https://ieeexplore.ieee.org/abstract/document/8412566
- HD2DC: https://link.springer.com/article/10.1007/s11042-018-6299-4

[2020-12-30 01:24] cll123456 commented on #45
can add a logo in the middle

[2021-01-11 08:43] tanupoo commented on #135
FYI:

% qrcode --version
1.4.4

% echo '2018/1/6,21,1,25,212,159,53,1,1,0,36,0,6,4,3,5,10,1.647666667,31.06666667,611.3333333,1568.666667,156.6666667,8,16,7.406666667,,1.793333333,170,190,140,40,220,180,3.8,,,' | qrcode -s 8 -t png -o out.png -
saved qrcode to: out.png

I can read it with a QR code reader and get successful.
Check both command line and node.js script.

Shoichi

[2021-01-11 08:47] tanupoo opened #254 "Binary mode encoding doesn't satisfy the maximum size of original data."
According to https://www.qrcode.com/en/about/version.html,

In the version 15 (71x71) with the ECC level of L, the capacity of Binary is 520.
However, more than 173 bytes of 0xff can not be encoded by qrcode CLI like below.

% dd if=/dev/zero ibs=174 count=1 | LC_ALL=C tr "\000" "\377" | qrcode -v 15 -e L
-
Error:
The chosen QR Code version cannot contain this amount of data.
Minimum version requi

[2021-01-27 17:33] UnumIDAdmin commented on #237
@artemkrynkin would also appreciate a code example — thanks!

[2021-01-28 13:43] daniloab opened #256 "toBuffer breaks inside a jest test"
When trying to do a jest test using `QRCode.toBuffer` returns the following error:

[code]

What is the right approach to do this?

[2021-01-30 07:09] woutrbe commented on #240
If anyone is looking on how to do this on the server, this is what I used:

[code]

[2021-02-01 16:55] F-loat commented on #240
There is a way to show qrcode with icon in terminal.

[code]

[2021-02-10 08:59] #251 closed

[2021-02-13 15:08] artemkrynkin commented on #237
@UnumIDAdmin @SayWhat69 @kklark @ton77v
Hello!
Here's an example of my code, there is no time to tweak it yet, but in general the solution looks like this: https://gist.github.com/artemkrynkin/e6bf05d0f61ca3b2ed7e51291ad3a0bf

[2021-02-15 15:59] Deep191191 opened #258 "Vulnerability dependency package usage (y18n - 4.0.0)"
🐛 Bug Report
npm qrcode has outdated dependencies which results in showing up in package vulnerability scans

**To Reproduce**
npm i --save qrcode
check package lock to see outdated  y18n
when npm ls y18n is issued :
result : ┬ qrcode@1.4.4
  └─┬ yargs@13.3.2
    └── **y18n@4.0.0**

**Expected behavior**
installing qrcode should have latest dependencies of package y18n

**Link to repl or repo (hig

[2021-02-15 17:36] 8ctavio opened #259 "Update pngjs module"
I get `(node:10504) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.` when I use `QRCode.toFile()`. qrcode 1.4.4 uses pngjs 3.3.0, which sometimes uses new Buffer() instead of Buffer.alloc(number), Buffer.from(string)... The newest version is 6.0.0.

[2021-02-18 11:19] #258 closed

[2021-02-19 10:50] MWBtimeseries opened #260 "How to set image quality when using in React"
I am using your solution in a React widget that I am developing. For this, I use the code as suggested in the documentation:

[code]

However, it seems that I am not able to set options. As a result, the default image quality is used (0.92), which is not good enough in my case.

Hope you can help!

[2021-02-21 07:48] json-werx opened #261 "Few Recommendations"
Recommend removing the options of setting the background and foreground.  Most SVGs today set the stroke to currentColor and the fill to currentFillColor. This is to allow for styling to be applied outside of the svg.

https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/color

I also recommend removing the DOCTYPE to reduce the overall size of the svg.  Or give the option to add it or not.

[2021-02-24 04:51] fulldecent opened #262 "Release often"
Please make a new release.

Specifically, I'd love to use https://github.com/soldair/node-qrcode/pull/233

[2021-03-07 23:10] RaphaelBatagini opened #263 "Empty QRCode with 1px generated"
Everything works fine in development environment, but in production I get this error using toFile() or the CLI.

When I execute the following script with node, a file with 1px and no content is generated.
[code]

I try to install the package globally and run the command bellow, but got the same result as previously mentioned:
`sudo qrcode -w 100 "teste" -o "test1.png"`

[2021-03-14 13:24] fourdim opened #264 "The Module not found: Can't resolve 'fs'"
I tried to install node-qrcode v1.4.4.
However, when I'm going to build the project, it appears that I have something wrong.

`[21:10:47] ERR! Can't resolve 'fs' in 'X:\Projects\***\node_modules\qrcode\lib\renderer'`

As far as I know, fs is a file system module for POSIX.
But, I'm using Windows to compile this project.

Anyone can help?

Here is the log trace,

[code]

[2021-03-24 13:17] fhirfly commented on #168
tying to run this in Lambda, throws the error:

 {"errorType":"TypeError","errorMessage":"Cannot read property 'bind' of undefined","trace":["TypeError: Cannot read property 'bind' of undefined","    at Object.toFileStream (/var/task/node_modules/qrcode/lib/server.js:133:52)","    at Runtime.module.exports.getCertificateQRCode [as handler] (/var/task/handler.js:40:11)","    at Runtime.handleOnce (

[2021-04-01 03:01] #264 closed

[2021-04-05 21:53] markw13a commented on #175
I think the trouble is that there's no way to generate a png in the first place if Canvas is not available -- as is the case for React Native.

It looks as though the only way to make use of this library with React Native is to generate SVGs. React Native does not support SVGs out-of-the-box so you then need to add something like react-native-svg to your project.

[2021-04-06 05:44] baobinaqd commented on #45
if create qrcode is a img，I want to set some attributes，eg: alt,title, can I do ?

[2021-04-06 05:45] baobinaqd opened #265 "if create qrcode is a img，I want to set some attributes，eg: alt,title, can I do ?"
if create qrcode is a img，I want to set some attributes，eg: alt,title, can I do ?

[2021-04-07 08:54] Shaunmak1214 opened #266 "Is the qrcode permanent?"

[2021-04-13 04:32] daniellizik opened #267 "support toString option that returns path data of svg instead of the entire svg element stringified"
**reason**

To support server-side rendering apps with safer svg rendering than injecting inner html.

**what i'm currently doing**
[code]

But, doing the `typeof window !== 'undefined'` check makes SSR pointless, as the SVG parsing is only going to take place on the frontend.

Using cheerio on the server and doing server-side parsing shouldn't be an option, as `node-qrcode` is already generating

[2021-04-17 09:09] #266 closed

[2021-04-23 18:07] blainemuri commented on #242
It's definitely possible to download a canvas as a file from the browser, so if that's not supported on the browser can we turn this into a feature request?

But for those wanting this feature now with current functionality, you can also use `toDataURL` and set that on a download link in order to download a file.

[2021-04-23 19:40] soldair commented on #242
happy to take pr's if you're interested. either for documentation or implementation.

[2021-05-10 01:01] Kaspanoombro opened #268 "Scale does not seems to work!"
Hello,

I am using the 1.4.4. of qrcode on nodejs 15.14 and with this command:

`..QR.toDataURL(tj, {errorCorrectionLevel: 'M', version: tv, type: 'png', mode: "byte", margin: 3, scale: 2});`

..the tj is a 213 characters string and version changes from 9 to ... according to the length of the tj string.
The problem is that it is always creating a PNG with scale 4 (which is the default).
Can anyone

[2021-05-11 08:12] #268 closed

[2021-05-25 03:58] sam-s4s commented on #236
Any updates on this? Last commit was on 6 Nov 2019. Is this repo dead, do we need a new one?

[2021-07-27 11:26] rishikalokesh2512 opened #269 "Fonts not loaded correctly when used with QR Code"
I'm noticing an issue when I try to add text inside QRCode by using qrcode.toCanvas( ) function. The fonts are not loaded correctly the first time. Works fine after refreshing. I'm adding the text using canvas.fillText( ).

[2021-07-27 11:27] rishikalokesh2512 commented on #269
Any suggestions with this issue would be helpful.
Thanks in advance!

[2021-08-01 16:40] james-innes commented on #215
As per this [discussion](https://github.com/rollup/rollup/issues/2881) around **node-globals/node-builtins** I found [rollup-plugin-node-polyfills](https://github.com/ionic-team/rollup-plugin-node-polyfills) got the QR code working for me using Rollup with Svelte.

[2021-08-02 23:34] cmbartschat opened #270 "SVG codes have visible banding on iOS"
Viewing an SVG code on iOS 14 or 15 in Safari that was generated with: `qrcode.toString(url, {type: 'svg'})`, gives the following:

![Zoomed in screenshot of a QR code showing horizontal bands between rows of modules](https://user-images.githubusercontent.com/22112134/127934638-2d73babc-dedd-4609-9873-f14e0bcfd081.png)

I'm not sure if this should be considered a rendering bug in WebKit, it might

[2021-08-05 13:01] takayama-lily opened #271 "too large to scan in terminal"
![qrcode](https://user-images.githubusercontent.com/12014361/128352522-514c0e21-34d0-442e-8bfd-b3a37c61403c.png)
[code]
windows10 powershell 1980x1080
![image](https://user-images.githubusercontent.com/12014361/128352866-b0ddf202-9025-4458-86b2-cb5af8b388df.png)

and I can not find any way to resize

[2021-08-19 16:44] soldair commented on #271
You are putting the whole binary data of an image of a qr code in a qr code :sweat_smile:

I would expect you to pass something like "hello i am data" to the "data" key rather then an image =)

In general qr codes have to be larger the more data they have in them. You can generate qrcodes with a specific output size limit by setting the version and error correction restricting the qrcode to an inp

[2021-08-19 16:44] #271 closed

[2021-08-19 16:47] soldair commented on #270
Interesting. Thanks so much for the research! =)
If there is a way to fix this bug in the library i would love a contribution.
if we can't i would love a docs contribution with at least a link to this bug with the comment of acceptable workarounds.

[2021-08-19 16:49] soldair commented on #265
you can create whatever html you like passing the image as an src. =)
good luck. more info on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img or perhaps https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API if you're using the canvas.

[2021-08-19 16:49] #265 closed

[2021-08-19 16:50] soldair commented on #263
hmm. does the same thing happen when you use the callback api instead of async await?

[2021-08-19 16:52] soldair commented on #269
hmm strange. I'm not sure it has anything to do with the library itself but if you make progress son this i would appreciate an update here.

if there is a trick you have to do due to the library i would appreciate a docs update with at least a link to this issue and a comment with the workaround =)

[2021-08-19 16:52] soldair commented on #262
I wonder if i release since then :sweat_smile:
I'll check it out this week

[2021-08-20 16:34] cmbartschat commented on #270
This is the patchfile I applied using patch-package:
[code]

So potentially that could be added, maybe as an optional flag? Not sure if that's something people would want by default...

[2021-09-14 07:17] OTime-star opened #272 "The build graph is incorrect when build an optimized segment sequence."
In the encoding process, we will construct a graph, and then use the single-source shortest path algorithm to find the optimal segment sequence, but the constructed graph seems to be problematic.

Keep other parameters as default, and then encode "ABCDEF123", you will get the following graph(Byte mode is omitted).
![image](https://user-images.githubusercontent.com/58839963/133211868-e9d7c43f-472e-

[2021-09-15 20:13] obfuscatedgenerated opened #274 "Please create a new release/tag/build on npm"
The current release has a [vulnerability in yargs](https://app.snyk.io/test/npm/qrcode/1.4.4), however, the master branch is using a vuln free version of yargs.

Please update the package on npm to allow those without the necessary binaries to use the package.

Unless something is wrong on my end of course, so please look at this section of the error log I received when trying to install the packa

[2021-09-16 09:03] obfuscatedgenerated commented on #274
I've observed that [a travis-ci build](https://travis-ci.org/github/soldair/node-qrcode/jobs/758045310) has failed with the same/similar error.

[2021-09-19 11:39] pprathameshmore opened #275 "Not able to install this package on Windows"
Why I try to install package, I am getting this error, I tried also using cmd admin.

[code]

[2021-09-22 10:16] MikkelFrid opened #276 "Communication with internet"
Hi!

First of all - Thank you for an amazing library.

I'm not sure I have posted this question the right place - my apologies if not.

Does the library in any way communicate with the internet? (I will run on a locale setup)
Is any data shared, or does it depend on the internet to run?

Br
Mikkel

[2021-10-03 10:22] mnahkies opened #277 "Is this project still maintained?"
I notice that there hasn't been a lot of activity on this lately - are you still maintaining this?

If not is there a primary community fork or similar that we should be migrating to?

[2021-10-08 12:56] lancce21 opened #278 "ansi-regex dependency causes audit warning"
One of the repos dependencies is currently causing moderate warnings on npm audit.

The dependency chain is as follows:

qrcode -> yargs -> cliui -> string-width -> strip-ansi -> ansi-regex

A patch has been made for ansi-regix (see https://github.com/advisories/GHSA-93q8-gq69-wqmw) but I'm not sure about the parents in the dependency tree.

Any chance of checking for a yargs update/patch that mig

[2021-10-09 09:56] qqw78901 opened #279 "Can publish a release version to NPM?"
Because the npm latest version is much behind the master.

Some features, such as ```--smaller```, are not included

[2021-10-11 05:30] imnottherobot opened #280 "Snyk reporting a High Severity vulnerability issue with ansi-regex (Regular Expression Denial of Service)"
Snyk is reporting an issue on the version of ansi-regex.
Please check this up.

[More info](https://snyk.io/vuln/SNYK-JS-ANSIREGEX-1583908)

[2021-10-14 10:06] #280 closed, assigned to nobody

[2021-10-14 13:58] balazj commented on #278
I don't think so, you can run this on master:
npm audit --production

The output shows 4 issues, all complaining about yargs...

[2021-10-14 17:48] soldair commented on #277
I am. But in general this is "done" barring reasonable features requested and implemented by you, the community.

[2021-10-15 07:48] lancce21 commented on #278
Thanks buddy. I added the --production flag and it solved my issue for now.

[2021-10-15 08:53] cjmling opened #281 "TypeError: Cannot read property 'toDataURL' of undefined"
In a TS file

ISSUE
[code]

throw error `TypeError: Cannot read property 'toDataURL' of undefined`

SOLUTION:

`import * as qrcode from 'qrcode'`

[2021-10-17 11:23] mnahkies commented on #277
It was more in respect to there being a few open PR's that have persisted for a while, and issues like https://github.com/soldair/node-qrcode/issues/262 that made me question if this was ever going to be updated again.

Totally appreciate that the project is in a state that can be largely considered done, and that you don't intend to do much more on it barring community submissions.

I see that yo

[2021-10-20 02:20] mapkon commented on #277
@soldair Maybe you can give other people access to merge PRs on your behalf. That can take the load off you.

[2021-10-21 09:56] obfuscatedgenerated commented on #279
This should also resolve #274

[2021-10-24 02:05] bradisbell commented on #239
Has anyone seen a pure JavaScript implementation?  Using this library client-side... would be great to see more stylized SVG options.

[2021-10-29 19:24] oceanthrsty opened #283 "can't set larger width in toFile"
I can successfully generate a QR code and write it out to a file. But I need to make the file bigger. From within node however when I pass the width option it doesn't listen to it. I can only get it to work from the CLI, which is good for testing, but won't work in the long run.

Here's my snippet of code to create it via toFile.
[code]
When I run from the command line it works
`./qrcode -d F00 -w

[2021-11-01 04:08] michaelbalber commented on #278
@soldair Will a new release be published soon from the current master?

[2021-11-03 10:11] madhav-vl opened #284 "ansi-regex is vulnerable"
Could you resolve security vulnerabilities related to [ansi-regex](https://www.npmjs.com/package/ansi-regex)

`$ npm audit`

**npm audit report**
ansi-regex  >2.1.1 <5.0.1
Severity: moderate
 Inefficient Regular Expression Complexity in chalk/ansi-regex - https://github.com/advisories/GHSA-93q8-gq69-wqmw
fix available via `npm audit fix --force`
Will install qrcode@1.3.3, which is a breaking chang

[2021-11-03 13:34] balazj commented on #284
There is already an open issue here: [https://github.com/soldair/node-qrcode/issues/278](https://github.com/soldair/node-qrcode/issues/278)

[2021-11-12 12:42] kareha commented on #279
What do you mean by "soon"? :)

[2021-11-21 04:57] rammohangowd opened #285 "How to apply custom styling to the QRCode"
I would like to apply some custom colors and also in middle of the QRCOde I want to add my image and apply some colors to the generated code. Are there any configurations available to apply styles? I am using this in my angular 11 application. If any examples would be helpful. Thank you!

[2021-11-23 07:24] michens commented on #279
@kareha, see this comment from 18 months ago that also said "soon": https://github.com/soldair/node-qrcode/pull/226#issuecomment-624154625

[2021-11-23 20:04] soldair commented on #285
You can use the canvas api or style with css on svg directly.
there are a number of questions about this just search in close dissues.

[2021-11-23 20:04] #285 closed

[2021-11-23 20:05] soldair commented on #283
sounds like a bug. try your hand at fixing it and send a pr =)

[2021-11-23 20:05] soldair commented on #279
1.5.0 published. try it out and let me know.

[2021-11-23 20:06] soldair commented on #274
done

[2021-11-23 20:06] #274 closed

[2021-11-23 20:06] soldair commented on #262
done

[2021-11-23 20:06] #262 closed

[2021-11-24 05:20] ZhangChengLin opened #286 "No minified file is generated"
https://github.com/soldair/node-qrcode/releases/tag/v1.5.0

![Dingtalk_20211124131443](https://user-images.githubusercontent.com/30773389/143179371-7a5f3f0e-53e8-404f-bc14-cc41f281e50f.jpg)

![Dingtalk_20211124131505](https://user-images.githubusercontent.com/30773389/143179396-2855d734-ff8e-46f4-9fed-92a19b1fa1f9.jpg)

[2021-11-25 07:36] irvandikky commented on #231
In Node "[Buffer instances are also Uint8Array instances](https://nodejs.org/api/buffer.html#buffer_buffers_and_typedarray)", so data.toString() works in this case.

[2021-11-26 09:03] matthewmayer opened #287 "1.5.0 should be semver-major"
If you're dropping support for older node versions, shouldnt latest release be semver-major ie 2.0.0 not 1.5.0?

[2021-11-27 12:18] wang1212 commented on #287
At the same time, I hope to update **CHANGELOG.md**.

[2021-11-29 17:48] soldair commented on #287
In general i agree. it's been about a year since those prs were landed in master but not published so it slipped by.

Another thing is I don't test on older nodejs versions. in a lot of cases its not possible given the range of nodejs versions the test frameworks themselves support. so its not practical to know until after a release is made to know if it's broken :scream:

here is the nodejs proje

[2021-11-29 17:48] #287 closed

[2021-11-29 20:36] soldair commented on #286
ah this is a breaking change and should be updated

[2021-11-29 20:36] soldair commented on #284
should be good with the new version

[2021-11-29 20:37] #284 closed

[2021-11-29 20:37] soldair commented on #278
released

[2021-11-29 20:37] #278 closed

[2021-11-29 20:37] #279 closed

[2021-11-30 10:19] air2 commented on #231
Based on your finding I came to this (ugly) typescript work-around, because modifying the lib in  an existing project is of course a little bit problematic :

[code]

[2021-12-07 15:47] cpetrov opened #289 "Cannot provide integer array binary data with qrcode@1.5.0"
Segments with integer array data and `mode: "byte"` as [documented in the "Binary data" section of the README](https://www.npmjs.com/package/qrcode/v/1.5.0#binary-data) spawn an error with `qrcode@1.5.0`. This works as expected with the previous version `qrcode@1.4.4`.

[code]

[2021-12-07 16:06] gabrielgambarra opened #290 "Error: Unable to resolve module ../utils/buffer"
I'm using [react-native-qrcode-svg](https://github.com/awesomejerry/react-native-qrcode-svg) and I'm getting this error on npm i:

[code]

I saw the qrcode.js and nothing is calling "../utils/buffer".

Any idea of how can I fix this?

[2021-12-14 19:04] Arno500 commented on #289
I can confirm I also experience this issue

[2021-12-16 10:00] nambboy opened #291 "Errors: The amount of data is too big to be stored in a QR Code"
Please help me:
i user qr-code.toString({type: 'svg'})
What is the maximum number of characters of the qr-code?

[2021-12-16 10:33] #291 closed

[2021-12-21 05:28] sese53 opened #292 "Uncaught ReferenceError: ReedSolomonEncoder is not defined"
when use node-qrcode,  there's a error.
"Uncaught ReferenceError: ReedSolomonEncoder is not defined"

`import QRCode from 'qrcode';
    const useQrCode = () => {
      const canvas = document.querySelector('#canvas');
      QRCode.toCanvas(canvas, props.orderInfo.qr_code, (err: any) => {
        if (err) {
          console.log('err------', err);
        }

[2022-01-01 23:35] developer239 commented on #129
QR code library that doesn't decode QR code. 🤨

[2022-01-11 08:37] meyer59 commented on #291
Hello
Did you find a solution to this error ?

[2022-01-11 15:11] lk77 opened #293 "False positive : The amount of data is too big to be stored in a QR Code"
Hello,

i get random errors like that :

[code]

[code]

sometimes it works, sometimes it don't, it seems related to the getCapacity function, which sometimes return NaN

![Capture d’écran du 2022-01-11 16-10-43](https://user-images.githubusercontent.com/9606882/148968484-0e449869-adf3-4293-b830-8bcb265698e7.png)

if you have any idea why,

thanks !

[2022-01-11 17:31] ryust-ax opened #294 "colors.js drama indicates a potential dependency update is needed"
As a result of recent drama (reported here: https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/)

I tracked down recently updated forks and found two promising future-maintainer candidates:
- https://github.com/euberdeveloper/colors.js
- https://github.com/mobilehero-archive/titanium-colors

Incidentally, a good tool for this was https:

[2022-01-17 17:34] cyandev opened #295 "update teamMatchPerformance schema"
teamNumber type String -> Number
matchNumber type String -> Number
remove serverVersion

[2022-01-17 17:35] cyandev commented on #295
mb i cant keep my tab straight

[2022-01-17 17:35] #295 closed

[2022-01-26 02:52] javawebuser opened #297 "Text wrapping"
The argument 'text' is of type 'string',how to realize line feed?

[2022-01-26 04:10] #297 closed

[2022-01-26 04:13] javawebuser commented on #297
It works when the text is longer

[2022-01-27 17:18] willuhm-js opened #298 "_"

[2022-01-27 17:18] #298 closed

[2022-01-31 12:06] RSLak1 commented on #289
Also experiencing this issue.
Following the stacktrace, I believe the issue would be that in `byte-data.js` the class `ByteData` expects a string, but is passed the already existing byte array from `buildSingleSegment` in `segment.js`.

[2022-02-23 06:28] destLonY commented on #240
in this way, i think the image of center would cover some part of the qrcode, could the qrcode be scan accurately?

[2022-02-23 06:34] woutrbe commented on #240
The image would indeed cover up some parts of the QR code, but that was the point. I'm by no means an expert in this, this article explains it a bit better: https://axiom.us.com/2012/01/the-anatomy-of-a-qr-code-7-things-to-know-about-quick-response-codes/

According to this, you can cover up certain parts of the QR code, and it will still work as expected.

[2022-02-28 11:43] destLonY commented on #240
thx, i try to cover some parts of qrcode, it work expected.
by the article you shared, we will cover 30% **error correction** at most in the qrcode.

[2022-03-06 20:16] busynest opened #300 "Upgrade Project to Webcomponents"
Hi. I use webcomponents to build apps. I don't understand this require() stuff. The error is saying: "Could not find a declaration file for module 'qrcode' ".

[2022-03-18 13:28] coeli commented on #286
precompiled bundles cannot be used in browser... minified files are not in /build/ and qrcode.js are not complete...
example : QRCode.toCanvas() issue...

Tested with old version of qrcode <1.5.0 with same issue when it worked before !
Do you have a solution ?

[2022-03-22 01:42] #300 closed

[2022-04-27 08:50] YashMarmat commented on #158
Thanks, it worked
Tried this:

`<canvas id="canvas${1}" style="margin:20px 5px 10px 5px;"></canvas> <script> QRCode.toDataURL(document.getElementById("canvas${1}"),"${<your_qr_url_here>}",{ color: { dark: "#fff", light: "#cc0403" }, width: 100, height: 100, margin: 0, }, function (error) { if (error) console.error(error); console.log("success!"); }); </script>`

[2022-06-05 04:53] TrustyBytes opened #301 "tying to run this in Lambda, throws the error:"
tying to run this in Lambda, throws the error:

 {"errorType":"TypeError","errorMessage":"Cannot read property 'bind' of undefined","trace":["TypeError: Cannot read property 'bind' of undefined","    at Object.toFileStream (/var/task/node_modules/qrcode/lib/server.js:133:52)","    at Runtime.module.exports.getCertificateQRCode [as handler] (/var/task/handler.js:40:11)","    at Runtime.handleOnce (

[2022-06-05 04:57] TrustyBytes commented on #301
`	QRCode.toFileStream(`${orderId}.png`, rouletteUrl, (err, data) => {
		if (err) {
			console.error(err);
			return res.json({ err });
		}
	});`

Response : TypeError: Cannot read properties of undefined (reading 'bind'). Even when running locally

[2022-06-08 08:38] y8n opened #302 "Build target files is not ES5 in v1.5.0"
In version 1.5.0，build files is ES6, not ES5. however some project will not transform node_modules by babel , so my app can not work in ES5 environment.
hope you  can build ES5 files in case most people can use

[2022-06-15 13:44] emilmuller opened #303 "Unable to encode binary data (charCodeAt gets called on the array)"
This fails:

`QRCode.toDataURL([{ data: [253,254,255], mode: 'byte' }])`

with:

`TypeError: input.charCodeAt is not a function`

![image](https://user-images.githubusercontent.com/2487546/173842382-8e3a3870-f477-45a8-a09d-8f3ded5d0ba8.png)

Version 1.5.0

Kind regards, Emil Müller

[2022-06-15 14:02] emilmuller commented on #303
duplicate

[2022-06-15 14:02] #303 closed, assigned to nobody

[2022-06-17 12:50] adrianhelvik opened #304 "Freezes in Safari 15 when opened using window.open()"
This is a very very strange bug indeed, and it's a bug in Safari. I thought I'd give you a heads up in case you receive some strange error report in the near future.

**Repro:**

[code]

[2022-06-17 13:05] adrianhelvik commented on #304
I have submitted a bug report to Safari too.

[2022-06-25 12:38] diegoulloao opened #305 "QR code generated are different and larger for client-side than server-side"
I have got here because a bug updating a QR code value to my database and I have found out why:

I'm using the same line of code in both sides:
[code]

Then I have compared both, this is the result:
[code]

Now I'm trying to understand why are QR different from client-side than server-side?

[2022-07-01 05:03] xiaoyierle commented on #302
同问

[2022-07-01 14:43] xiaoyierle commented on #302
你好，你用的是哪个脚手架打包报错了呢？

[2022-07-13 21:14] #231 closed

[2022-07-13 21:14] #289 closed

[2022-07-14 13:50] soldair commented on #304
Really rather weird

[2022-07-14 13:50] soldair commented on #301
Are you perhaps using the browser bundle rather than the server one?

[2022-07-14 13:51] soldair commented on #293
Interesting thanks for the report

[2022-07-14 14:55] diegoulloao commented on #305
I didn't specify it, I was using the default

[2022-07-29 01:31] YahiaGamer opened #307 "Link size is very large"
Hi how can i decrease the link size because its very large

[2022-08-02 07:40] ag288 opened #308 "File not getting created"
I'm trying to use the qrcode package to generate a QR code and write it to a file. For this, I use the qrcode.toFile() api but unfortunately the file does not get created until after a very long time. Am I doing something wrong here? Following is my code:

`qrcode.toFile(
   path.join(__dirname,"images/filename.png"),
    "hello",
    {
      color: {
        dark: "#00F", // Blue dots
        lig

[2022-08-09 08:09] arnabg95 opened #310 "Broken QR in safari"
const Qrcode=await QRCode.toString(frontendUrl,{ errorCorrectionLevel: 'H' })
i am using this code to generate a QR which works fine in chrome and firefox. but when i use safari the QR gets broken and i am unable to scan it. i need some help here.

[2022-08-10 13:12] Naeem775 commented on #281
@cjmling thank you

[2022-08-14 07:38] tonytony2020 opened #311 "how to install this package via bower.io?"

[2022-08-24 06:37] SliverOcean commented on #245
I still got the same problem .(node 16.16.0)

[2022-08-24 09:58] inprivacy opened #313 "QRCode.toDataURL error:You need to specify a canvas element"
version:1.5.1
uniapp 移动端

[code]

[2022-09-06 03:24] m-hey commented on #45
why same opts, but second setting toCanvas Api not show qrcode？anyone has this question?

[2022-09-17 08:53] kaushalendra-pandey opened #314 "How can I add a text, saying for ex. SCAN ME, in the center of the QR Code?"

[2022-09-24 01:19] jacobleesinger opened #315 "toDataURL sometimes returns a data url that is not a valid image in Chrome on Windows"
First off, apologies for not being able to provide more details. Believe me, I wish I had them...

Several of my users have reported that qr codes are not displaying. They were all using Chrome on Windows, a few different versions but mostly Chrome 101-104 on Windows 10.

Here's a simplified version of my code (React). The line to create the dataURL is exactly as it is in my application.
[code]

I

[2022-09-27 07:39] tenjaa opened #316 "Update encode-utf8 to 2.0.0"
Hi,
looking at a quick license scan, I can see that encode-utf8 in version 1.0.3 does not provide any license information.
In 2.0.0 it does.
Would it be possible to update it?

Or maybe remove it even completely?

Would you be open to an PR?

[2022-10-01 14:23] tcschiller opened #318 "toFileStream doesn't seem to emit finish event when writing is done"
I've implemented a usage of `qrcode.toFileStream` in Node 16:

[code]

As you can see above, I'm having to use a `setTimeout` with an arbitrary delay in order to get a proper response. This is because the ideal alternative (using the `finish` event of `Writable`, which `PassThrough` implements) doesn't work.

Not sure if this is due to something in this repository or a dependency like `pngjs`.

[2022-10-04 13:37] t-balancin commented on #286
Hello team,

It would be really appreciated if minified files can be included with latest version. Thank you for work!

[2022-10-07 17:01] fulldecent commented on #234
Please reopen issue as the use case:

[code]

is not addressed

---

For me that use case is helpful because I need to manually inject the `qrcode` result into an SVG file (`sed` command). (Inkscape [does not work with linking to external files](https://gitlab.com/inkscape/inbox/-/issues/2103).)

[2022-10-07 17:54] cardinal-II commented on #314
I am interested, too.

[2022-10-11 08:24] soldair commented on #286
Not sure. You can build them by running the npm script on a git clone.

On Fri, Mar 18, 2022, 6:29 AM coeli ***@***.***> wrote:

[2022-10-11 20:08] #286 closed

[2022-10-17 13:55] BenRacicot commented on #239
Yes! This! But further, I'm seeing some implementations simply place a logo over the center of the QR image.
It would seem that devs are cranking up the error correction tolerance to keep the code working?

Perhaps this would be a different issue but **allowing an image in the center and the code to be actually built around it would be an incredible style upgrade**.

[2022-10-20 16:27] Aarbel opened #320 "[Feature Request] Include a logo (svg / jpg / png) at the center of the QR Code"
![image](https://user-images.githubusercontent.com/25119847/197005192-e25e0ab8-db72-4860-b980-19aefa237d91.png)
![image](https://user-images.githubusercontent.com/25119847/197005270-b06327fd-236d-41b8-9349-6b5a59878d04.png)

I would be really nice to include branding mask in the QRCode you generate.
Thanks a lof for your amazing work

[2022-10-24 21:31] waynebloss opened #321 "Using type image/jpeg creates image/png"
Hello. I took the code sample directly from your README and ran it in Node.js and it doesn't produce a JPEG. Here is my code:

[code]

You can paste the above code over at [RunKit](https://npm.runkit.com/qrcode) to try it as well.

[2022-10-24 21:31] waynebloss commented on #321
Here is the resulting data url:

[code]

[2022-10-24 21:34] waynebloss commented on #321
I am guessing that generating a JPEG only works in the browser.

[2022-10-24 21:39] #321 closed

[2022-11-03 13:32] tofrankie opened #322 "Small Render has bug"
Like this

<img width="1379" alt="iShot" src="https://user-images.githubusercontent.com/26947203/199734159-9efd6ebb-b9c3-4a23-a700-61c80e17ab2b.png">

[2022-11-08 07:37] lennart-land commented on #316
Hi @soldair ,

this is currently a blocker for us and we really would like to use it. Could you please merge the corresponding PR or give some feedback?
Thanks!

[2022-11-11 08:11] weiwentao518 opened #323 "【React】Cannot read properties of undefined (reading 'getContext')"
**I am using the npm package QRCode in React framework and I get this error:**

`Cannot read properties of undefined (reading 'getContext')`

![image](https://user-images.githubusercontent.com/28976633/201295031-b7d17841-225e-435d-b0b2-f10d5196fd34.png)

![image](https://user-images.githubusercontent.com/28976633/201295073-d40d5189-f24a-41b8-8e98-814744fa7004.png)

how can i fix it??

[2022-11-13 00:59] cpitul opened #324 "Construct from server generated code using the "create" method"
I'm getting this type error: "undefined is not an object (evaluating 'seg.mode')" from running this (👇). I've checked that the value passed into as "newCode.segments" is correct (an array with one element, etc...

![Screenshot 2022-11-13 at 02 52 11](https://user-images.githubusercontent.com/10146439/201500406-50bd9e17-aee4-42df-9d70-2c2801bd588b.png)

From what I see here, by passing an array, th

[2022-11-13 12:16] cpitul commented on #323
I think the library is not maintained anymore...

[2022-11-13 12:57] cpitul commented on #324
Managed to make it work by processing the retrieved code object.

The problem is that the server is building the "mode" field as an object and all the functions require it to be a string instead.

![Screenshot 2022-11-13 at 14 55 32](https://user-images.githubusercontent.com/10146439/201522756-419d927a-3bcc-4cc6-bd42-b10f56049c6e.png)

[2022-11-13 14:29] cpitul commented on #324
Solved. It is I that was stupid. xD My imports were wrong.

[2022-11-13 14:29] #324 closed

[2022-11-14 02:39] weiwentao518 commented on #323
So what should I do, do I modify it myself after fork?

[2022-11-14 07:31] GaneshSA0558 opened #325 "Expire the Qrcode within time"

[2022-11-15 07:05] EdwinChua commented on #320
@Aarbel please see this closed issue for a solution https://github.com/soldair/node-qrcode/issues/212

[2022-11-22 15:57] goncaloflf commented on #323
Hey @weiwentao518 👋
I had this issue, it probably means that you are passing the reference of the canvas to node-qrcode before it's initialized: double check if this is the case :)